.action-btn {
    text-align: left;
    width: 500px;
    height: 100px;
    cursor: pointer;
}
.action-btn .header {
    font-size: 22px;
    margin: 0;
    margin: 20px 20px 5px;
}
.action-btn .header h4 {
    font-weight: 600;
    margin: 0;
}
.action-btn .description {
    width: 350px;
    padding-left: 50px;
    font-size: 14px;
    margin: 10px 0;

}
.action-btn .icon {
    display: inline-block;
    height: 80px;
}
.action-btn .icon img {
  font-size: 50px;
  height: 80%;
  padding-top: 20px;
  padding-right: 10px;
}
.action-btn .icon img::before { 
    content: ' ';
    height: 100%;
    display: inline-block;
}
