.panel {
  border-bottom: 3px solid gray;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-width: 3px;
  display: inline-block;
  margin: 50px 0;
  width: 100%;
}

.panel .divider {
  font-size: 18px;
  margin: -0.65em auto -0.45em;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}
 
.panel .divider:before, .panel .divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 20%;
  height: 0.65em;
  border-bottom: 3px solid gray;
  margin: 0 2% 0 -55%;
}

.panel .divider:after {
  margin: 0 -75% 0 2%;
  width: 120%;
}

.panel .content {
  margin: 20px;
}
.panel .content span, .text-block {
  font-weight: bold;
  padding-right: 20px;
  display: inline-block;
}
.panel .content.rrf .row,
.panel .content.dates .row,
.panel .content.filters .row {
  margin-bottom: 10px;
}
.panel .content.rrf .row .text-block {
  width: 250px;
}
.panel .content.filters .row .text-block:nth-child(1) {
  width: 150px;
}
.panel .content.filters .row .text-block:nth-child(3) {
  width: 100px;
}
.panel .content.filters .row input {
  margin-right: 20px;
}
.panel .content.dates .row .text-block:nth-child(1) {
  width: 150px;
}
.panel .content.dates .row .text-block:nth-child(2) {
  width: 50px;
}
 
.save-btn {
  margin-right: 5px;
}

.cancel-btn {
  margin-left: 5px;
}