.table_reports {
  width: 100%;
  text-align: center;
}
.table_reports.generic {
  margin-top: 40px;
}
.table_reports .col_id {
  cursor: pointer;
}
.table_reports .col_name a {
  -webkit-text-fill-color: -webkit-link;
}
.table_reports .col_name a:hover {
  -webkit-text-fill-color: -webkit-activelink;
}
.table_reports .col_report-type {
}
.table_reports .col_report-start-date {
}
.table_reports .col_report-end-date {
}
.table_reports .col_report-actions a {
  color: darkorange;
  padding: 0 5px;
}
.table_reports .col_report-actions a:hover {
  -webkit-text-fill-color: -webkit-link;
}

.back-btn span {
  padding-left: 10px;
  font-size: 16px;
  vertical-align: middle
}
