body {
  min-width: 1200px;
  margin: 20px;
  background-color: whitesmoke;
}
table {
  width: 100%;
}

.app {
  margin-left: auto;
  margin-right: auto;
}
.table tbody tr:hover {
  background-color: white;
}
.btn-toolbar {
  margin-left: 0px;
}

.content {
  padding: 20px;
}
  .content h4 {
    margin-top: 0px;
  }

.offset-top {
  margin-top: 70px;
}
.small-offset-top {
  margin-top: 20px;
}
.offset-bottom {
  margin-bottom: 150px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  display: block;
  width: 100%;
  display: inline-block;
}
.col {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}

.icon-btn svg {
  vertical-align: middle;
  padding-bottom: 16px;
}


