.overlay_dialog {
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

iframe {
	margin-left:2px;	
}

#lightbox_table_content {
	background-image:none;
	background:#f1f1f1;	
}

.dialog_nw {
	width: 9px;
	height: 23px;
	background: transparent url(../img/lb-top.png) repeat-x !important;		
}

.dialog_n {
	background: transparent url(../img/lb-top.png) repeat-x !important;	
	height: 23px;
}

.dialog_ne {
	width: 9px;
	height: 23px;
	background: transparent url(../img/lb-top.png) repeat-x !important;		
}

.dialog_e {
	display:none;
	width: 2px;
	background: transparent url(default/center_right.gif) repeat-y 0 0;	
}

.dialog_w {
	display:none;
	width: 2px;
	background: transparent url(default/center_left.gif) repeat-y 0 0;		
}

.dialog_sw {
	/*display:none;*/
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_left.gif) no-repeat 0 0;			
}

.dialog_s {
	/*display:none;*/
	background: transparent url(default/bottom_mid.gif) repeat-x 0 0;		
	height: 19px;
}

.dialog_se {
	display:none;
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_right.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 14px;
	height: 14px;
	background: transparent url(../img/ic-x.png) no-repeat 0 0;			
	position:absolute;
	top:4px;
	right:10px;
	cursor:pointer;
	z-index:2000;
}

.dialog_minimize {
	width: 14px;
	height: 15px;
	background: transparent url(default/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:28px;
	cursor:pointer;
	z-index:2000;
}

.dialog_maximize {
	width: 14px;
	height: 15px;
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:49px;
	cursor:pointer;
	z-index:2000;
}

.dialog_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	width:100%;
	color:#000;
}

.dialog_content {
	overflow:auto;
	color: #DDD;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	/*background-color:#123;*/
}

.top_draggable, .bottom_draggable {
  cursor:move;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}

.wired_frame {
	display: block;
  position: absolute;
}

#lightbox_row3 {
	/*display:none;	*/
}

.dialog {
	border:1px solid #828282;
	background:#f1f1f1;
}


/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  	border-collapse: collapse; 
  	border-spacing: 0; 
  	width: 100%;
	margin: 0px;
	padding:0px;
	border:none;
}

.dialog table.table_window td , .dialog table.table_window th { 
  	padding: 0;
}

.dialog .title_window {
  	-moz-user-select:none;
}
