/* --- AMX styles for use in all Templates --- */

@import "fonts.css";

html { height:100%; background-color:#fff; }
	
body {
	height:100%;
	background:#fff;
	font-size:81.25%;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 auto;
	padding:0;
	color:#3a3a3a;
}

/* --------------------- */
/* --- Text Elements --- */
/* --------------------- */

h1 { font-family: Avenir, Arial, Helvetica, sans-serif; font-size: 1.7em; margin:0; font-weight:normal; color:#3a3a3a; }
h3 { margin-top: 0; }

span.no-data { display:block; padding:0.7em 1em; margin:1em 0; font-weight:bold; color:#555; clear:both; }

p { margin: 0 0 1.2em; }

/* --------------------- */
/* --- Form Elements --- */
/* --------------------- */

form { margin:0; padding:0; }

legend { *margin-left: -7px; /* IE7 Hack */ padding: 0 0 1em; font-weight: bold; }


fieldset { margin:0 0 1em 0; padding:0 0 1em 0; border:none; border-bottom:1px solid headccd0c5; clear: both; }
fieldset.last { border-bottom: none; }


label { }

select, input, textarea { 
	border:1px solid #999;
	color:#666;
	padding:4px 7px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}

.content-wrap input,
.content-wrap select,
.content-wrap textarea {
	margin:2px 0px; 
}

select { padding: 3px; width: 180px; }

textarea { width: 350px; height: 150px; }

input.wide { width:230px; }

input[type="hidden"] { border:none; }
input[type="text"], 
input[type="password"] { width: 200px; }
input[type="text"]:focus, 
input[type="password"]:focus,
textarea:focus { 
	border: 1px solid #7ec200;
	-moz-box-shadow: inset 1px 1px 2px #ddd;
  	-webkit-box-shadow: inset 1px 1px 2px #ddd;
  	box-shadow: inset 1px 1px 2px #ddd;
}
input[type="checkbox"] { border-style: none; margin: 0 5px 0 0; }
*+html input[type="checkbox"] { margin-left:-4px; }

.checkbox { border:none !important; }

input[type="radio"] { border-style: none; margin: 0 5px 0 0; }
*+html input[type="radio"] { margin-left:-4px; }

input[type="submit"], 
a.bu-submit {
	cursor: pointer;
	background: #9dc456;
	font:1em/1.1 Arial, Helvetica, Verdana, sans-serif; 
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9dea3', endColorstr='#8dbd37');
	background: -webkit-gradient(linear, left top, left bottom, from(#c9dea3), to(#8dbd37));
	background: -moz-linear-gradient(top,  #c9dea3,  #8dbd37);
	 -moz-border-radius:3px;
	 -khtml-border-radius:3px;
	 -webkit-border-radius:3px;
	 border: 1px solid #b4cb8b;
	 color: #fff;
	 /*margin: 0 5px 0 5px;*/
	 padding: 3px 8px 4px; }

input[type="submit"]:hover, a.bu-submit:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aecc76', endColorstr='#74a420');
	background: -webkit-gradient(linear, left top, left bottom, from(#aecc76), to(#74a420));
	background: -moz-linear-gradient(top,  #aecc76,  #74a420);
	border: 1px solid #9cbb64;
	text-decoration: none; }
 a.bu-submit {
 	padding: 4px 8px 5px;
 }
 
 .section a.bu-submit {
 	float: right;
 } 

/* Action buttons */

#actions input, #actions .bu-submit { margin-top: 0; }

/* Individual field overrides */

#typeSelect { display: block; float: left; }
#typeSelect-label { display: block; float: left; padding: 5px 20px 0 0; width: 140px; }
#externalIdSection label {
	display: block;
	float: left;
	padding: 5px 20px 0 0;
	width: 140px;
}
#externalIdSection .externalIdDisplay {
	background-color: #EFEFEF;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 25px;
	width: 405px;
	margin-bottom: 20px;
}
#externalIdSection .t-forminjector {
	width: auto;
	height: auto;
}
#phone, #fax { width: 120px; }
#zip { width: 50px; }
#startDate, #startDate_0, #endDate, #contentStartDate, #contentEndDate, #offerStartDate, #offerEndDate, #contentId, #listZone-Product .t-beaneditor-row input[type="text"] { width: 80px; }
#durationDefinitionDuration-label, #durationDefinitionDate-label, #productDurationDefinitionDate-label { width: 122px; }

/* NOTE: textarea in lightbox.css */

/* ------------------ */
/* --- Hyperlinks --- */
/* ------------------ */

a { color:#ea5700; text-decoration:none; }
a:hover { text-decoration:underline; }

#footer a { color: #709d1d; }

/* -------------- */
/* --- Lists --- */
/* -------------- */

ul.offerlist { margin:0; padding:0; list-style:none; }
ul.offerlist li { }
ul.offerlist li:after { }
ul.offerlist li:last-child:after { }

/* -------------- */
/* --- Tables --- */
/* -------------- */

.grabbed {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.counter-report-wrap .filter-wrap { margin: 0 0 20px 0; }
	.counter-report-wrap .filter-wrap input[type=submit], .report-config input[type=submit] { margin: 0 0 0 10px; }
.counterReport, .report-data {
	position: relative;
	border: 1px solid #ddd;
	overflow: hidden;
	overflow: auto;
}
	.counterReport .crTitle, .report-data .crTitle {
		width : 170px;
	}

	.counterReport .t-error, .report .t-error {
		margin: 20px;
	}
	.counterReport table, .report-data table {
		border: 0 none;
		font-size: 11px;
	}
	.clipped .counterReport table, .clipped .report-data table {
		cursor: move;
		cursor: hand;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}
	.grabbed .counterReport table, 
	.grabbed .report-data table {
		cursor: grabbing;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}
		.counterReport tr:nth-child(2n+1) td, 
		.report-data tr:nth-child(2n+1) td {
			background-color: #F4F4F4;
			border-bottom: 0 none;
		}
		.counterReport td, 
		.report-data td {
			border-bottom: 0 none;
			padding: .2em .4em .2em .5em;
			vertical-align: top;
			max-width: 17em;
		}

table { clear: both; border-collapse: collapse; border: 1px solid #ddd; width:100%; background: #fff; }

.content-wrap table {
	margin-bottom: 20px;
}

td { padding:6px 11px 7px; border-bottom: 1px solid #ddd; }

th { margin:0;
	padding:6px 10px;
	white-space:nowrap;
	border:1px solid #fff;
	border-right: none;
	border-left: none;
	text-align:left;
	color:#fff;
	text-transform: uppercase;
	background: #c8c8c8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#bbbbbb');
	background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaa));
	background: -moz-linear-gradient(top,  #d6d6d6,  #bbb);
}

th.t-first { border-left: 1px solid #fff; }
th.t-last { border-right: 1px solid #fff; }
th a { display:block; color:#fff; text-decoration:none;	padding:6px 10px; margin: -6px -10px;}
th a+a { display:none; }
th a img.t-sort-icon { display:none; }
th.t-first a { border-left:none; }
th a:hover, 
th.t-sort-column-descending, 
th.t-sort-column-ascending { background: #a0a0a0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#969696');
	background: -webkit-gradient(linear, left top, left bottom, from(#ababab), to(#969696));
	background: -moz-linear-gradient(top,  #ababab,  #969696); }
th a:hover { text-decoration: none;}
th.t-sort-column-descending a { margin-right:5px; padding-right:15px; background:url(../img/ic-sort-descending.png) no-repeat right center; }
th.t-sort-column-ascending a { margin-right:5px; padding-right:15px; background:url(../img/ic-sort-ascending.png) no-repeat right center;	}
th.t-sort-column-descending a span { position:relative; top:8px; left:3px; padding:4px; background:url(../img/ic-sort-descending.png) no-repeat; }
th.t-sort-column-ascending a span { position:relative; top:8px; left:3px; padding:4px; background:url(../img/ic-sort-ascending.png) no-repeat; }
*+html th.on a span { /* IE7 */ top:9px; }


.required { color:red; font-weight:bold; font-size:1em; margin:0 5px 0 5px; }

.currency { float: left; margin: 0 0 0 -13px; }
	
.link-1 { font-weight:700; }

div.t-beaneditor-row,
#poNumbers div,
#trNumbers div,
#woNumbers div,
div.form-row {
	clear:left;
	min-height: 1.5em;
	padding: 0 0 10px;
	line-height: 1.2;
	position:relative;
}
#poNumbers input,
#trNumbers input,
#woNumbers input {
	float: left;
}
#poNumbers a.remove,
#trNumbers a.remove,
#woNumbers a.remove {
	float: left;
	margin: 4px 5px 0;
}



*+html div.t-beaneditor-row { /* IE7 */ line-height:1.5em; }

/* no data and notification styles */

.box-activity .nodata { background-color:transparent; padding:0; margin:0; }

#notifications { clear:both; padding:10px; background-color:#e9ffd7; border:1px solid #b5dd93; }
#notifications li { list-style-type:none; margin:0; padding-left:20px; background:transparent url(../img/ic-completed-green.png) no-repeat 0 0; font-size: 1.1em; line-height: 1.2em; color: #666; font-weight: bold; }	


div.warning { border:1px solid #FFB300; padding:0px; margin:10px 0px; clear:both; }
div.warning div { padding:0.3em 0.5em; display:block; margin:0px; background-color:#FFF4D9; color:#FFF; font-weight:bold; font-size:1.1em; }
div.warning ul { margin:0; padding:0.5em; background-color:#FFF4D9; }
div.warning ul li ul { padding:0.5em; }
div.warning ul li ul li { background: none; list-style:circle; margin:3px 30px; padding-left:0px;}
div.warning ul li { padding-left:20px; margin:3px 0; font-size:1.1em; line-height:1.2em; background: transparent url(../img/warning.png)no-repeat 0 0; list-style: none; }
div.warning ul li span { color:#ea5700; text-decoration:none; cursor:pointer;}
div.warning ul li span:hover { color:#ea5700; text-decoration:underline; }


/* ERROR styles - these need to be consolidated and edited */

/* error styles from tapestry default.css */

/* Tapestry styles all start with "t-" */

div.t-error { border:1px solid #eb3d3f; padding:0px; margin:10px 0px; clear:both; }
div.t-error div { padding:0.3em 0.5em; display:block; margin:0px; background-color:#ed6c6e; color:#fff; font-weight:bold; font-size:1.1em; }
div.t-error ul { margin:0; padding:0.5em; background-color:#e9e9e9; color:#eb3d3f; }
div.t-error li { padding-left:20px; margin:3px 0; font-size:1.1em; line-height:1.2em; background: transparent url(../img/ic-error.png)no-repeat 0 0; list-style: none; }

.t-invisible { display: none; }

INPUT.t-error, TEXTAREA.t-error {
    border-color: #eb3d3f;
    /*font-style: italic;*/
    background-color: #e9e9e9;
    background-color: #fff; /* Shouldn't the background color be white so it still looks like a field? */
    color: #eb3d3f;
}

IMG.t-error-icon {
    margin-left: 4px;
    vertical-align: middle;
    position: absolute;
}

/* This positions the error icon to the left of the delete icon when an error exists. */
.filterwrapper img.t-error-icon {
	position: relative;
}

IMG.t-sort-icon {
    margin-left: 4px;
}

DIV.t-exception-message {
    font-style: italic;
    font-size: 12pt;
    border: thin dotted silver;
    margin: 5px 0px;
    padding: 3px;
}

DIV.t-exception-report, DIV.t-env-data {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-exception-report LI {
    margin-left: -40px;
}

DIV.t-exception-report DT, DIV.t-env-data DT {
    color: green;
    padding-left: 2px;
    background-color: #FFFFCF;
}

DIV.t-exception-report LI {
    list-style: none;
}

SPAN.t-exception-class-name {
    display: block;
    margin-top: 15px;
    font-size: 12pt;
    background-color: #E1E1E1;
    color: blue;
    padding: 2px 3px;
    font-weight: bold;
}

UL.t-stack-trace LI {
    font-family: Monaco, Times, monospace;
    font-size: 10pt;
    margin-left: -25px;
    list-style: square;
}

LI.t-usercode-frame {
    font-weight: bold;
    color: blue;
}

H1.t-exception-report {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: red;
}

DIV.t-exception-report DT:after {
    content: ":";
}

DIV.t-exception-report DD, DIV.t-env-data DD {
    margin-left: 10px;
}

INPUT.t-number {
    text-align: right;
}

IMG {
    border: none; margin: 0; padding: 0;
}

DIV.t-env-data-section {
    padding-left: 5px;
}

DIV.t-env-data DD, DIV.t-exception-report DD {
    margin-left: 25px;
    margin-bottom: 10px;
}

DIV.t-env-data LI {
    margin-left: -25px;
}

DIV.t-env-data-section {
    font-size: 12pt;
    background-color: #E1E1E1;
    color: blue;
    padding: 2px 3px;
    font-weight: bold;
}

DIV.t-palette {
    display: inline;
}

DIV.t-palette SELECT {
    margin-bottom: 2px;
    width: 200px;
}

DIV.t-palette-title {
    color: #333;
    font-weight:700;
    margin:0;
	padding:0;
	background:#a2a2a2 url(../img/bg-table-th.png) repeat-x;
	white-space:nowrap;
	border:1px solid #949494;
	padding:2px 4px;
}

DIV.t-palette-available {
    float: left;
}

DIV.t-palette-controls {
    margin: 5px 5px;
    float: left;
    text-align: center;
}

DIV.t-palette-controls BUTTON {
    display: block;
    margin-bottom: 3px;
}

DIV.t-palette-controls BUTTON[disabled] IMG {
    filter: alpha( opacity = 25 );
    -moz-opacity: .25;
}

DIV.t-palette-selected {
    float: left;
    clear: right;
}

DIV.t-palette-spacer {
    clear: left;
}

img.t-calendar-trigger {
    margin: 0 3px;
    cursor: pointer;
}

*+html IMG.t-calendar-trigger { /* IE7 */
	top:0px;
}

img.im-loader { position: absolute; }

img.t-autoloader-icon {
    background: transparent url('../img/ajax-loader.gif') no-repeat;
	width: 16px;
	height: 16px;
}

/* start autocomplete component */
div.t-zone form { position:relative; }

div.t-autocomplete-menu { 
	z-index: 2000;
	position:absolute;
	top:24px;
	left:0;
	max-height: 300px;
	overflow: auto;
	border: 1px solid #999;
	width:214px; /* should match width of text field + 14 */
}


DIV.t-autocomplete-menu UL {
    
    background-color: #e4e4e4;
    padding: 0;
    margin: 0;
    overflow: auto;
   
    
}

DIV.t-autocomplete-menu LI {
    color: #555;
    list-style-type: none;
    padding: 3px 8px;
    margin: 0px;
    cursor: pointer;
    min-width: 200px;
    max-width: 250px;

}

DIV.t-autocomplete-menu LI.selected {
    color: #fff;
    background-color: #2e6a8b;
}

DIV.t-autocomplete-menu LI .name {
	display: block;
	font-weight: bold;
	}
	
DIV.t-autocomplete-menu LI .body {	
	display: block;
	}

/* ------------------- */
/* --- Error Popup --- */
/* ------------------- */
div.t-error-popup, .validationMessageHolder { 
	background-color:#fcfcfc;
	border: 1px solid #f00;
	color: #f00;
	text-align: left;
	padding: 8px 11px 9px;
	border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	height: auto !important;
	left:463px !important;
	margin-top:25px;
	margin-right:70px;
	max-width:600px;
	z-index: 1000;
}

.validationMessageHolder {
	margin: 3px 0 3px 10px;
}

div.t-error-popup span.p, .validationMessageHolder span.p { display: block; margin: 0 0 1em 0; }
div.t-error-popup span.code, .validationMessageHolder span.code { font-family: monospace; font-size: 1.2em; }

html>body div.t-error-popup {  }

div.t-error-popup span { margin-left:0px; }
html>body div.t-error-popup span { }


UL.t-data-list LI {
    list-style-type: square;
}

/* The console is used to show debugging messages. */
DIV.t-console {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
}

DIV.t-console DIV {
    font-weight: bold;
    cursor: pointer;
    padding: 0px 2px;
}

DIV.t-console DIV.t-err {
    background-color: red;
    color: white;
}

DIV.t-console DIV.t-warn {
    background-color: yellow;
    color: black;
}

DIV.t-console DIV.t-debug {
    background-color: silver;
    color: black;
}

/* ----------------------- */
/* --- Special Classes --- */
/* ----------------------- */

.clear { height:0; overflow:hidden; clear:both;	}

.left { float:left;	}

.right { float:right; }

.clearfix { clear:both; }

/* ----------------------- */
/* ---     Button      --- */
/* ----------------------- */

a.bu-interrupt { margin:10px 10px 10px 0; padding:5px 10px; border:none; border-right:2px solid #330000; border-bottom:2px solid #330000; background-color:#cc0000; color:#fff; border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; display: inline-block; }
a.bu-interrupt:hover { color: white; }

.t-zone input[type="submit"] {
	margin-left: 5px;
}

/**
* eugene 12/16/11
*/
#errors { 
	clear:both; 
	padding:10px; 
	background-color: #FF9999; 
	border:1px solid red;
	font-weight: bold;
	margin-bottom: 10px;
}

/*
* Image replacement
*/

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}


@media print {
	a, a:visited { text-decoration: underline; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	.counterReport, .report-data { overflow: visible; border: 0 none; }
	.counterReport table, .report-data table { border: 1px solid #ddd; }
	.counterReport tr:nth-child(2n+1) td, .report-data tr:nth-child(2n+1) td { background-color: transparent; }
	.counterReport td, .report-data td { border: 1px solid #ddd; }
}

/*
 *DebugQuartz page
 */
.listing .quartzJobTitle { color: #AA5700; font-weight: bold; }
.quartzJobDetails ul { padding-bottom: 20px; }



.operationCol {
	width:8em;
}

.operationCol select {
	width:10em;
}

.featureCol {
	width:17em;
}

#accountdetailstype{
	border-bottom:none;
}

.helper-table{
	border: none;
	text-align: left;
}

.helper-table td {
	border-bottom: none;
	padding-left: 0;
}

.helper-table tr > td:first-child {
	font-weight: bold;
	width: 10em;

}


#dlExternalid dt,#additionalProperties dt{
	float: left;
	clear: left;
	width: 100px;
}

.border-helper:not(:last-child){
	border-bottom: 1px solid #ddd
}
.padding-helper{
	padding-top: 0.5em;
}

.report-overlay{
	background: transparent url('../img/ajax-loader2.gif') no-repeat;
	min-height: 5em;
}
