@import url(template-box-sm.css);
p {
	font:1.2em/1.5 Arial, Helvetica, sans-serif;
}

.t-beaneditor-row { margin-top: 0; }

.t-beaneditor-row label { 
	width: 90px !important;
	margin-top: 2px;
}

select, input, textarea {
	border:1px solid #a9a9a9;
	padding:2px;
	font:1.1em Arial, Helvetica, sans-serif;
	color:#555;
}

select option.first {
	font-weight:700;
}

input#password, input#email {
	width:150px;
}

.checkbox {
	border:none !important;
}

a {
	color:#159;
	text-decoration:none;
}

a:hover {
	color:#159;
	text-decoration:underline;
}

a#link_forgot {
	font-size:1em;		
}

/* layout styles */ 

#master-wrapper {
	margin: 0 auto;
/*	width: 900px;*/
	width: 440px;
	position: relative;
}

#logo img { display: block; margin: 20px 0 14px 0; }
#footer img { display: block; margin: 0 0 0 auto; }

#footer { clear: both; padding: 10px 0; }

/* additional classes */

h1 {
	color:#d29252;
	font-size:1.65em;
	line-height: 1;
	font-weight:400;
	margin:0 0 0.5em 0;
	padding:0;
}

.innerwrap p {
	margin-top:0;
	color:#666;
	line-height:1.32em;	
}

.box-sm-blue .innerwrap p {
	font-size: 1em;
	}

p .firstword {
	color:#d29252;
	font-size:1.4em;
	line-height: 1;
	margin-right:3px;
}

#welcome a { font-weight: bold; }

#notifications {
	margin: 0;
	padding: 8px;
	position:absolute;
	top: 10px;
	*top: 40px;
	right: 0;
	width: 424px !important;
	width /**/: 440px;
}

#notifications li {
	background:transparent url(../img/ic-completed-green.png) no-repeat scroll 0 0;
	padding-left: 20px;
	}