/*
CSS selectors: http://www.w3schools.com/cssref/css_selectors.asp
*/

/* Scope to content-wrap to not break the rest of the parts of the site already compensating for it. */
.content-wrap *, .content-wrap *:before, .content-wrap *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 
.columnsContainer,footer,header {
	position: relative;
}

header {  border: 1px solid  #ccc; padding: 1.25em; }



/* Datepicker */
.datePicker table{
	margin-bottom:0;
}
.datePicker .footer {
    padding: 3px !important;
}
.datePicker button[type="button"] {
	cursor: pointer;
}
.datePicker .footer .footerTable button {
    color: #EA5700;
    text-align: center;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-transition: all .15s cubic-bezier(.95,.04,.52,.52);
    -moz-transition: all .15s cubic-bezier(.95,.04,.52,.52);
    -o-transition: all .15s cubic-bezier(.95,.04,.52,.52);
    transition: all .15s cubic-bezier(.95,.04,.52,.52);
}
.datePicker .footer .footerTable button:hover {
    color: #fff;
    border-color:#9dc456;
    background-color: #9dc456;
}
/* Basically the month header and text in the month dropdown */
.datePicker a {
	margin:0;
}



.content-wrap form .actionlist {
	float: none;
	z-index: 1;
}

.leftColumn {
    overflow: hidden;
    width: 17em;
    float: left;
    vertical-align: top;
    margin-right: 1em;
	border: 1px solid #ccc;
}

.mainContent {
	clear: none !important;
	margin-left: 18em;
	min-height: 40em;
	min-width: 55em;
	padding:1.5em;
}
.t-data-grid {
    clear: none !important;
}
#chart-container {
    clear: none !important;
}

.gapi-analytics-data-chart {
	border-width: .1em;
	border-color: #d6d6d6;
	border-style: solid;	
	max-width: 100em;
	padding: .5em;
	background-color: white;
}


footer {
	clear:both
}

ul {
	list-style:none
}

.contentHeaderLeft h3 {
	border-bottom: none;
}

/* Metrics Container (basically the left column and center column) */
.metricsContainer {
	background-color: white;
	border-color: darkgray;
	border-width: 1px;
	border-style: solid;
}

/* Top Level Left column */
.leftColumn {
}
.columnsContainer .leftColumn>ul, .columnsContainer .leftColumn>h2 {
	padding-left: 1em;
}
.columnsContainer .leftColumn li:last-child {
	margin-bottom: 1em;
}
.columnsContainer .leftColumn li>label {
	font-size: 1.3em;
	color: #000;
}
.columnsContainer .leftColumn li>ul {
	padding-left: 1em;
}
.columnsContainer .leftColumn a {
	font-size: 1.05em;
	color: black;
}
.columnsContainer .leftColumn a:hover {
	font-size: 1.05em;
	color: #bb0001;
    text-decoration: none;
}


/* Chart container for google charts */ 
#dashboard #chart-container {
	background: transparent url('../img/ajax-loader2.gif') no-repeat;
	min-height: 5em;
}

.mainContentHeader {
	min-width: 52em;
	min-height: 11em;
}

/* The left content header in the center column */
.contentHeaderLeft {
	display: inline-block;
	float: left;
	max-width: 40em;
}

.reportTitle {
	font-size: 2em;
	padding-bottom: .6em;
	display: block;
	font-family: serif;
}

.reportSubtitle {
	font-size: 2em;
	padding-bottom: .6em;
	display: block;
	font-family: serif;
	color: #5c5acc;
}

/* The right content header in the center column */
.contentHeaderRight {
	display: inline-block;
	text-align: right;
	width: 37em;
	float: right;
}

.gaProfileSelector {
	padding-bottom: 1em;
}

.lightGrayContainer {
	border: 1px solid #ccc;
	padding: .5em 1em;
	background-color: #F7F7F7;
	float:right;
	clear:right;
}

.lightGrayContainer label, .lightGrayContainer input {
	margin: .2em;
}

.miniDateDisplayContainer {
	float: right;
}

#miniDateDisplay {
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	display: inline-block;
	padding: .1em .8em;
	cursor: pointer;
	float: right;
	margin-left: 1em;
}

#miniDateDisplay:hover {
	border-color: darkgray;
}

#expandedDateDisplay {
	display: none;
	float: right;
	clear: right;
	position: relative;
}

.fromDate, .toDate, .quickDateLinks {
	display: inline-block;
	vertical-align: top;
	padding-left: .46em;
}

.dateSelector {
	padding: .8em 0em;
	float: right;
}

.dateSelector input {
	width: 8em;
}

#cancelDate {
	cursor: pointer; 
}

/* The Auth tri-state selector */
.slider-selector {
	padding: .4em;
	float: right;
}

.actionlist .no-margin {
	text-decoration: none;
	margin: 0;
}

.help-left {
	clear: both;
}

#authSelector {
	margin-top: 1em;
}

.authSelectorRow .label {
	padding-right: .3em;
	padding-top: .3em;
	padding-left: .3em;
	float: left;
}

.slider-selector .slider a, .slider-selector .slider a:hover {
	text-shadow: 1px 1px 3px #666666;
  	color: #ffffff;
  	font-size: 13px;
  	text-decoration: none;
}

#auth-slider-auth:hover, #auth-slider-unauth:hover, #auth-slider-both:hover  {
	text-decoration: none;
}


.slider-selector .slider {
  background: #79aed1;
  background-image: -webkit-linear-gradient(top, #83CDFF, #2872A1));
  background-image: -moz-linear-gradient(top, #83CDFF, #2872A1));
  background-image: -ms-linear-gradient(top, #83CDFF, #2872A1));
  background-image: -o-linear-gradient(top, #83CDFF, #2872A1));
  background-image: linear-gradient(to bottom, #83CDFF, #2872A1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 13px;
  padding: 2px 14px 2px 14px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.slider-selector .left-slider {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.slider-selector .center-slider {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 0;
}

.slider-selector .right-slider {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.slider-selector .js-selected-slider {
  background: #b6002c;
  text-decoration: none;
  cursor: default;
}

.slider-selector .right-slider.js-selected-slider {
  background: #008609;
}

.slider-selector .js-not-selected-slider:hover {
	background: #4EA4CC;
	cursor: pointer;
}

/* Info Bubble that appears as a description of report values. */
.infoBubble {
	border: 1px solid #5994B7;
	padding: 0 .2em 0 .2em;
	-webkit-border-radius: 1em;
	background-color: #F6FDFF;
	width: fit-content;
	margin-bottom: .8em;
	display: inline-flex;
}
.infoBubble .infoMark {
	font-size: 2em;
	font-family: serif;
	color: blue;
	font-weight: bold;
	padding-left: .4em;
}
.infoBubble .infoText {
	padding-top: .7em;
	padding-bottom: .7em;
	padding-left: .5em;
	padding-right: .5em;
	vertical-align: 20%;
}

/* The report section of the Main Content column */
.reportContent {
	clear: right;
	padding-top: 1em;
}

.reportContent table {
/*	width: 0%; */
	border: 0;
}

.reportContent .t-data-grid tr:hover {
	background-color: #F5F5F5;
}

.reportContent fieldset {
	border: 1px solid #ddd;
	padding: 0 1em;
	min-width: 40em;
	margin-bottom:2em;
}

.reportContent legend {
	display: block;
	padding: 1em .5em;
	color: #0013a5;
}

#analyticsReports .msg-contents {
	padding-bottom: 2em;
}

#analyticsReports th{
	color: black;
	background: #e5e5e5;
	font-size: .9em;
}

#analyticsReports td{
	padding: .4em .5em;
}

#analyticsReports th a {
	color: black;
	background: #e5e5e5;
}

#analyticsReports tbody a {
	color: #814a00;
}

#analyticsReports .js-content-url {
	color: darkgoldenrod;
	font-size: .9em;
	min-width: 8em;
}

#analyticsReports fieldset {
	clear: none !important;
}

.italic {
	font-style: italic;
}

#gaContentViewType, #gaAccountListingByViewTypeGrid {
	width: 0;
}