hr#divider { display: none; }

html {
	background-color: transparent;
}
body.modalWindow {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font: 13px/18px $modalFont;
	color: $modalColor;
	background: transparent none;
}

/* used when the lightbox is about to close to hide the content */
body.blanklightbox { background-color: $modalbackgroundColor; }
body.blanklightbox * { display: none; }

/**********************************************************************
	Generic Modal Content
**********************************************************************/

a { color: #ba131a; text-decoration: none; }
a:hover { text-decoration: underline; }
a#cancel { display:none; }
#login h4 { font-weight: normal; }


.checkboxUnit {
	overflow: hidden;
	clear: both;
}
input[type=checkbox] {
	margin: 3px 0 0;
	vertical-align: middle;
}
textarea {
	border: 1px solid #ddd;
	padding: 0;
	margin-bottom: 10px;
	color: #2a2a2a;
	width: 47%;
	height: 50px;
	vertical-align: middle;
}

/**********************************************************************
	General Modal Layout
**********************************************************************/

h1, h4 {
	color: #777;
	font-size: 24px;
	line-height: 1em;
	margin: 0 0 15px;
}
h3 {
	font-weight: bold;
	margin: 0 0 8px;
}
form, #form {
}
	.formRow {
		position: relative;
		overflow: hidden;
		clear: both;
		margin-bottom: 10px;
	}
	.formRow.last { margin: 0; }
		label {
			display: block;
			float: left;
			height: 24px;
			line-height: 24px;
			width: 50%;
		}
		input[type=text],
		input[type=password] {
			border: 1px solid #ddd;
			padding: 3px;
			color: $inputColor;
			width: 46%;
			vertical-align: middle;
		}
		input[type=button],
		input[type=submit] {
			margin: 0 5px 0 0;
			color: $buttonColor;
			cursor: pointer;
			text-transform: uppercase;
			padding: 3px;
			border: 0 none;
			background-color: $buttonBackground;
			vertical-align: middle;
		}
		#cancel { display: none; }
		img.t-error-icon { display: none; }
		label.t-error { color: #be2228; }
		div.t-error-popup {
			color: #be2228;
			cursor: pointer;
			display:block;
			float: none;
			height: auto !important;
			margin: 31px 0 0 18px;
			padding: 3px 6px;
			border: 1px dotted #be2228;
		}
		div:hover.t-error-popup { text-decoration: underline; }
		html > body div.t-error-popup {
			background: white none;
		}
			div.t-error-popup span {
				display:block;
				padding: 0;
				line-height: 1em;
			}
			html > body div.t-error-popup span {
				background: transparent none;
			}


#modalContent {
	position: relative;
	height: 100%;
	padding: 9px; 
	background-color: $modalbackgroundColor;
	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;*/
}
	#modalInnerContent {
		height: 100%;
		padding: 25px;
		overflow: hidden;
		/*box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;*/
	}

.modalWindow div.t-error div {
	background: transparent;
	color: red;
	padding: 0 15px;
}

.modalWindow div.t-error li {
	padding: 0 15px;
	margin-left: 0;
	list-style-type: none;
}


/********************************************************************** 
	Recaptcha Styling 
**********************************************************************/ 

#reCaptchaForm-label { width: auto; }
#recaptcha_widget_div { clear: both; }
#recaptcha_widget_div label { display: inline; float: none; line-height: 13px; }

/* create site styles */

.createSite fieldset { width: 45%; height: 10em; border: 1px solid #ccc; text-align: left; }
.createSite #standardModule { float: left; }
.createSite #premiumModule { float: right; }
.createSite label { float: none; display: inline; }
.createSite .required { display: none; }


.addContentList #itemWrapper { border: 1px solid #ccc; height: 200px; overflow: auto; text-align: left; padding: 5px; }
.addContentList #itemWrapper a { display: block; padding-top: 2px; padding-left: 18px; color: #333; }
.addContentList #itemWrapper a:hover { background-color: #aaa; text-decoration: none; }
.addContentList #itemWrapper a.folder { background: url("../img/icon_folder.gif") no-repeat scroll 0 -2px transparent; }
.addContentList #itemWrapper a.file {  }
.addContentList #itemWrapper a.current { border: 1px solid #ccc; }
