.pagination {
  display: inline-block;
}

.pagination .text-btn {
  cursor: pointer;
  height: 100%;
  width: auto;
  vertical-align: bottom;
  font-weight: 900;
}

.list-on-page {
  width: 100px;
}
.list-pagination {
  display: inline-flex;
  padding-top: 20px;
}

.chevron-btn {
  cursor: pointer;
}
.chevron-btn:disabled {
  cursor: not-allowed;
}
.chevron-icon {
  height: 18px;
  width: auto;
  vertical-align: middle;
}