/* --- AMX styles for use in pages which use this design template --- */

/* ------------------------------------ */
/* --- Unique Containers for Layout --- */
/* ------------------------------------ */
#wrapper { margin:0 auto; padding:0; width:100%; text-align:left; }

#header { clear:both; background-color:#fff; padding: 0 3.2193159%; min-height:40px; }
#header .logo { float:left; margin:34px 0 10px; padding: 0 104px 0 0; position: relative; }
#header .logo .ams { position: absolute; right: 0; top: 50%; margin-top: -26px;}
#header h1 { clear:both; margin-bottom:10px; }
#header h1 .accounttype { color:#ccc; }
#header h1 .accounttype:before { content:'\00A0\00A0\|\00A0\00A0'; }

#canvas { clear:both; width:100%; min-height:400px; border-bottom:1px solid #ddd; background:#ebebeb;}

#footer { clear:both; padding: 21px 3.2193159% 42px; margin: 0; }
#footer .logo { float: left; margin: -21px 0 -21px -32px; padding: 0; }
#footer p { margin: 0; }
#footer #buildinfo { float: right; } 


/* -------------------------- */
/* --- Utility Navigation --- */
/* -------------------------- */
.utility-navwrap { position: absolute; top: 0; left: 0; width: 100%; min-height: 24px; background: #607e2a url('../img/bg-utility.jpg') top left no-repeat; color: #dbebbf; font-weight: bold; }
.utility-navlist { margin:0; padding: 3px 3.2193159%; float: right; }
.utility-navlist li { display:inline; list-style-type:none; padding-left:22px; }
.utility-navlist li.first { padding-left:0; }
.utility-navlist li.gap { padding-left:40px; }
.utility-navlist li.last { border-right:none; }
.utility-navlist li a { color:#fff; }
.utility-navlist li.help a { display:inline-block; padding:5px; font-weight:bold; border-right:2px solid #003300; border-bottom:2px solid #003300; background-color:#669900; color:#fff; border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; }
.utility-navlist li.help:hover a { text-decoration:none; }
.utility-navlist .greeting { font-weight:bold; padding-right:.35em; }

.utility-navwrap a.switch-mode { display:block; float:left; padding: 3px 3.21932%; color:#fff; }
.utility-navwrap a.switch-mode:before { content:'\00AB\00A0'; }


/* -------------------------- */
/* --- Primary Navigation --- */
/* -------------------------- */

/* --- Rounded corners are created with CSS only --- */

.primary-navwrap { clear: both; float: left; position:relative; width: 100%; height:30px; font-family:"Avenir", Arial, Helvetica, sans-serif; border-bottom:1px solid #bbb; }
.primary-navlist-lg { clear: both; margin: 0 3.2193159%; padding:0; }
.primary-navlist-lg li { float:left; list-style-type:none; font-size:1.3333333333333em; line-height:1.5; }
.primary-navlist-lg li:last-child { padding-right: 12px; }
.primary-navlist-lg li a { float:left; color:#577a17; border: 1px solid #fff; border-bottom:none; }
.primary-navlist-lg li a span { float:left; padding:1px 10px 3px; }
.primary-navlist-lg li.dropdown a { }
.primary-navlist-lg li.dropdown a.active span { }
.primary-navlist-lg li.dropdown:hover a, .primary-navlist-lg a.active { background-color:#969696; color:#ebebeb; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; cursor:pointer; border:1px solid #969696; border-bottom:2px solid #969696; }
.primary-navlist-lg a.activeTab { color:#000000; background-color:#ebebeb; border-radius:3px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border:1px solid #a6a6a6; border-bottom:2px solid #ebebeb;}
.primary-navlist-lg a.activeTab:hover {  }

#wrapper .primary-navlist-lg li.dropdown:hover a:hover { color:#ebebeb; cursor: default; }
#wrapper .primary-navlist-lg li.dropdown.no-child-elements:hover a.activeTab:hover { color:#000000; cursor: default;border-bottom:2px solid #ebebeb;}
#wrapper .primary-navlist-lg li.dropdown.no-child-elements:hover a:hover { color:#ebebeb; cursor: default;border-bottom:2px solid #ebebeb; cursor: pointer;}


.primary-navwrap .actionlist { float:right; margin: 0 3.2193159%; }
.primary-navwrap .actionlist a.delete { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15757', endColorstr='#db6c6c');
	background: -webkit-gradient(linear, left top, left bottom, from(#f15757), to(#db6c6c));
	background: -moz-linear-gradient(top,  #f15757,  #db6c6c);
	text-transform:uppercase;
	border-color:#db6c6c;
}

/* Highlight current tab */
.page-start #nav-start, 
.accounts #nav-accounts,
.accountgroups #nav-accountgroups, 
.notices #nav-notices,
.metrics #nav-metrics,
.tokens #nav-tokens,
.subscriptions #nav-subscriptions,
.offers #nav-offers,
.products #nav-products,
.roles #nav-roles,
.platforms #nav-platforms,
.reports #nav-aggregatesystemreports,
.reportJobs #nav-reportjobs,
.logJobs #nav-logjobs,
.systemSettings #nav-systemsettings
{ background-color:#ebebeb; color:#3a3a3a; border-radius:3px 3px 3px 3px; -moz-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; cursor:pointer;}

 

#wrapper .primary-navlist-lg li a:hover, #wrapper .primary-navlist-lg li a.active:hover { color:#EA5700; text-decoration:none; cursor:pointer; }

.primary-navlist-lg li .primary-subnavwrap { position:absolute; left:-999em; top:30px; z-index:99; width:250px; padding:10px; background-color:#969696; color:#333; -moz-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px; border-radius:0 0 5px 5px; }
.primary-navlist-lg li:hover .primary-subnavwrap { left: auto; }
.primary-navlist-lg li:hover .primary-subnavlist { margin:0; padding:0; }
.primary-navlist-lg li:hover .primary-subnavlist li { width:100%; margin-right:0; font-size:1em; border: 0; color: #EEEEEE;}
.primary-navlist-lg li:hover .primary-subnavlist li a { width:100%; padding-right:0; border: 0; color: #ebebeb; font-size: .9em; font-weight: normal;}
.primary-navlist-lg li:hover .primary-subnavlist li a span { background-image:none; padding:2px 10px; }
.primary-navlist-lg li:hover .primary-subnavlist li a.active { } /* Placeholder for styling the active state of subnavitem */
.primary-navlist-lg li:hover .primary-subnavlist li:hover > a { background-color:#ebebeb; border-radius:3px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; }
#wrapper .primary-navlist-lg li:hover .primary-subnavlist li:hover a:hover { color: #ea5700; cursor: pointer; }

.primary-navlist-lg li .secondary-subnavlist {font-size:.9em;}
.primary-navlist-lg li .primary-subnavlist li .primaryLabel{ width:100%; margin-right:0; font-size:1em; border: 0; color: #FFFFFF; padding:2px 10px;}
.primaryLabel {
	cursor: default;
}

.primary-navlist-lg.secondary { clear: none; margin-left: 0; }
.primary-navlist-lg.secondary li.first { padding-left: 12px; border-left: 1px solid #ccc; }

/* -------------------------- */
/* ------ Quick Search ------ */
/* -------------------------- */

#quicksearch {
	float: right;
	padding: 0 3.21932% 0 20px;
}
#quicksearch input#textfield, #quicksearch select {
	margin-right: 5px;
	width: 120px;
}
#quicksearch input#textfield {
	width: 160px;
}
#quicksearch fieldset {
	border: 0;
	margin-bottom: 0;
}

#quicksearch #quickSearchTooltipZone {
	display: inline;
}

#quicksearch .help-left {
	float: right;
}

/* Results */

#quickSearchResults {
	clear: left;
	margin: .5em 0 1em;
}
#quickSearchResults a {
	margin: 0 0 0 10px;
}


/* -------------------------- */
/* ------- Powered by ------- */
/* -------------------------- */

#powered {
	float: right;
	clear: right;
	margin: 0 3.21932% 6px 0;
	width: 140px;
	font-size: 10px;
	color: #ccc;
	position: relative;
	z-index: 100;
}
#powered img { float: right; margin-top: -4px;}


/* -------------------------- */
/* -------- Filters --------- */
/* -------------------------- */

.filters {
	clear: left;
	padding: .5em 0 1em;
	display: none;
}
.filters h4 {
	margin: 0;
}
.filters .filterOptionsSelect, .filters .filterValueSelect, .filters .filterValueTextField {
	margin: 6px 5px 6px 0;
	width: 200px;
}
.filters .filterValueSelect {
	width: 216px;
}
.filters #rowInjector {
	margin: 5px 0 8px;
}
.showFilters, .hideFilters {
	float: left;
    padding: 4px 20px 0;
}
.hideFilters {
	display: none;
}
#stepContents .showFilters, #stepContents .hideFilters {
	float: none;
    padding: 4px 20px 0 0;
}
.filters-and {
	float: left;
	margin: 10px 5px 0 0;
}
.filters div.t-forminjector {
}
.filters fieldset {
	display: inline;
	border: 0;
	margin: 0;
	padding: 0;
}
.filters fieldset legend {
	float: left;
	margin: 4px 5px 0 10px;
	padding: 0;
	font-weight: normal;
}
.filters .t-calendar-trigger {
	margin-right: 5px;
}
.filters .delimiter {
	margin: 0 10px 0 5px;
}
.filters .filterValueStartDate, .filters .filterValueEndDate {
	width: 70px;
}
.datePicker { top: auto !important; }


/* --------------------- */
/* --- Page Controls --- */
/* --------------------- */

/* Pagination */

.t-data-grid-pager {
	float: right;
	margin: 5px 0 10px 0;
	overflow: hidden;
}
.t-data-grid-pager span.current,
.t-data-grid-pager a { padding: 2px 5px; }
.t-data-grid-pager a { color: #709d1d; }
.t-data-grid-pager span.current {
	 font-weight: bold;
	 background: #cdcdcd;
	 -moz-border-radius:3px;
	 -khtml-border-radius:3px;
	 -webkit-border-radius:3px;
	}
	
.pagerwrapper { margin:4px auto 0 auto; width:500px; text-align:center; font-size:1.1em; }
.pagerwrapper span.pw-hdr { margin-right:8px; font-size:.9em; }
.pagerwrapper span.prev-page-notavail {
	margin-right:0;
	padding:0 5px;
	background:url(../img/ic-paginate-arrow-lt-notavailable.png) 0 0 no-repeat;
	display: inline-block;
	height: 12px;
	*padding-bottom: 2px;
}
.pagerwrapper a.prev-page {
	margin-right:0;
	padding:0 5px;
	background:url(../img/ic-paginate-arrow-lt-blue.png) 0 0 no-repeat;
	text-decoration:none !important;
	display: inline-block;
	height: 12px;
	*padding-bottom: 2px;
}
.pagerwrapper span.next-page-notavail {
	margin-left: 0;
	padding:0 5px;
	background:url(../img/ic-paginate-arrow-rt-notavailable.png) 0 0 no-repeat;
	display: inline-block;
	height: 12px;
	*padding-bottom: 2px;
}
.pagerwrapper a.next-page {
	margin-left: 0;
	padding:0 5px;
	background:url(../img/ic-paginate-arrow-rt-blue.png) 0 0 no-repeat;
	text-decoration:none !important;
	display: inline-block;
	height: 12px;
	*padding-bottom: 2px;
}
.pagerwrapper span.pw-spacer { margin:0; padding: 0; color:#666; }
	
/* Actions */

.actions { margin:1em 0; }
.actionlist { float: right; list-style: none; margin-top:0; margin-bottom:10px; padding-left:0; position:relative; z-index:1000 }
.actionlist input, .actionlist a { margin: 0 0 0 10px; }
.actionlist li { float: left; }
.actionlist li a, a.button { 
	display:inline-block;
	background: #9dc456;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9dea3', endColorstr='#8dbd37');
	background: -webkit-gradient(linear, left top, left bottom, from(#c9dea3), to(#8dbd37));
	background: -moz-linear-gradient(top,  #c9dea3,  #8dbd37);
	 -moz-border-radius:3px;
	 -khtml-border-radius:3px;
	 -webkit-border-radius:3px;
	 border: 1px solid #b4cb8b;
	 color: #fff;
	 padding: 3px 8px 4px;
}
.actionlist li a:hover, a.button:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aecc76', endColorstr='#74a420');
	background: -webkit-gradient(linear, left top, left bottom, from(#aecc76), to(#74a420));
	background: -moz-linear-gradient(top,  #aecc76,  #74a420);
	border: 1px solid #9cbb64;
	text-decoration: none;
}

/* Number of items per page */

.pageSizeWrapper { float:right; margin:0; }
.pageSizeWrapper label { font-weight:bold; margin-right:5px; }
.pageSizeWrapper select {  width:60px; margin-top: 0; }

.pagesizewrapper { float:left; width:200px; }
.pagesizewrapper span.required { display: none; }

/* Result count */

#gridResultCount { padding: 4px 20px 0; float: left; }

/* tabs */

#steps { clear: both; float: left; position:relative; width: 100%; height: 30px; border-bottom:1px solid #ddd; padding: 0; margin: 0; }
#steps li { float:left; list-style-type:none; font-size:1em; line-height:1.5; }
#steps li a { float:left; color:#709d1d; border: 1px solid #ebebeb; border-bottom:none; }
#steps li a span { float:left; padding:5px 10px 5px; }
#steps li:hover a, #steps li:hover a.active { color:#EA5700; text-decoration:none; }

#steps .active { background-color:#fff; color: #3a3a3a; font-weight: bold; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; cursor:pointer; border: 1px solid #ddd; border-bottom: 1px solid #fff; }
#steps .active:hover  { color: #3a3a3a !important; }

ul.tabs { clear: both; float: left; position:relative; width: 100%; height: 30px; border-bottom:1px solid #ddd; padding: 0; margin: 0; }
ul.tabs li { float:left; list-style-type:none; font-size:1em; line-height:1.5; }
ul.tabs li a { float:left; color:#709d1d; }
ul.tabs li a span { float:left; padding:5px 10px 5px; }
ul.tabs li.active a span { padding-top: 4px; color: #3a3a3a; }
ul.tabs li:hover a, ul.tabs li:hover a.active { color:#EA5700; text-decoration:none; }

ul.tabs .active { background-color:#fcfcfc; color: #3a3a3a; font-weight: bold; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -khtml-border-radius:3px 3px 0 0; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; cursor:pointer; border: 1px solid #ddd; border-bottom: 4px solid #fcfcfc; }
ul.tabs .active:hover  { color: #3a3a3a !important; }

/* old styles for tabs

ul.tabs { float:left; margin:0; padding:10px 0 0 0; height:20px !important; height/*:40px; }
ul.tabs li { float:left; position:relative; margin-right:5px; list-style-type:none; }
ul.tabs li a { float:left; background-color:#666; color:#fff; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; cursor:pointer; }
ul.tabs li a span { float:left; padding:7px 10px; height:16px !important; height/*:30px; }
.primary-navwrap ul.tabs li a.active { background-color:#fff; color:#696969; }
.content-wrap ul.tabs li a.active { background-color:#ccc; color:#fff; }
ul.tabs li:hover a, ul.tabs li:hover a.active { background-color:#969696; color:#333; text-decoration:none; }
 
 */


/* --------------- */
/* --- Content --- */
/* --------------- */
.content-wrap { position:relative; padding: 2.1% 3.2193159% 3.2193159%;	line-height: 1.4; }
.content-main { width:60%; }
.content-xtra { width:36%; padding-left:2%; }

#stepContents { clear: both; background: #fff; border: 1px solid #ddd; padding: 26px 32px; position:relative; min-height: 150px; }
/* For pages in accounts section, which have tabs */
.accounts #stepContents { border-top: 0; }

.tab-contents { clear: both; background: #fcfcfc; border: 1px solid #ddd; border-top: 0; padding: 26px 22px; position:relative; display:none; overflow: hidden; }
.tab-contents.active { display:block; }

.content-wrap h1 { margin:-.2em 20px .5em 0; float: left; }
.content-wrap h2 { font-weight:normal; border-bottom:1px solid #CCD0C5; padding:0 0 .5em; }
.content-wrap h3 { border-bottom:1px solid #CCD0C5; padding:0 0 1em; }
.content-wrap .platformClass h3 { border-bottom:1px solid #CCD0C5; padding:0 0 1em; margin-top: 20px; padding-bottom: 0px; margin-bottom: 8px; }
.content-wrap p.msg-contents { clear:both; padding: 26px 32px 180px; background: #fff; border: 1px solid #ddd; }
.content-wrap .filterwrap { float:left; margin-left:30px; }
.content-wrap .facet-module { margin-right:10px; float:left; }
.content-wrap .facet-module h4 { float: left; margin: 5px 10px 0 0; }
.content-wrap .facetlist { padding: 0; margin:5px 0 0 0; float: left; }
.content-wrap .facetlist li { display: inline; }
.content-wrap .facetlist a { margin-right: 1em; }
.content-wrap .facetlist a.active { font-weight: bold; color: #3a3a3a; }
.content-wrap .facet-module fieldset { border:none; margin:0 1em 0 0; padding:0; display:inline; }
.content-wrap .facet-module select { width:auto; margin-right:.5em; }
.content-wrap .section { border-bottom:1px solid #CCD0C5; margin:0 0 1em; padding:0 0 1em; }
.content-wrap .section.last { border:none; margin:0; }
.content-wrap .section h4 { margin:0; padding: 0 0 1em; font-size: 1.1em; }

.content-wrap .boxGroup { position: relative; clear: both; padding: 26px 32px; background-color: white; border: 1px solid #ddd; min-height: 150px; }
.content-wrap .boxGroup h3 { padding: 0; border: 0 none; }
.content-wrap .boxGroup legend { display: none; }
.content-wrap .boxGroup fieldset { margin: 0; padding: 0; border: 0 none; }

/* ----- Definition List ----- */
.content-wrap dl { width:100%; display:inline-block; margin:0 0 1.2em; }
.content-wrap dt { display:inline-block; font-weight:bold; margin-bottom:1em; width:20%; min-width:140px; }
.content-wrap dd { display:inline-block; margin-left:0; margin-bottom:1em; width:80%; content:"\A"; min-height: 1em;} /* Alternate styling: display:block; float:left; and hard code a <br /> within <dd>. */
.content-wrap dt.iconlocation { vertical-align: top; }
.content-wrap dd ul { padding-left: 0; }
.content-wrap dd li { display:inline; margin-right:.5em; }
.content-wrap dd ul.t-stack-trace li { display:block;}
.content-wrap dd li:after { content:","; }
.content-wrap dd li:last-child:after { content:" "; }

/* ----- Reporting start date ----- */
.content-wrap .reporting-start-date { margin: .5em 0; }
.content-wrap .reporting-start-date dl { margin: 0; }

/* ----- Embedded Table ----- */
table.embedded { width: auto; }
table.embedded tr.odd { background-color: #ebebeb; }

/* ----- Products ----- */

.content-wrap dd.products tbody tr.more { display: none; }
.content-wrap dd.products.open tbody tr.more { display: table-row; }

/* ----- VCard ----- */
.content-wrap .vcard { }
.content-wrap .vcard .fn { font-weight:bold; }
.content-wrap .vcard .tel .type { margin-right:.25em; }

.accounts .content-wrap #stepContents h2 { 
	font-family: Avenir, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin:0 0 10px 0; font-weight:normal; color:#3a3a3a; position: relative; }

div.columns { clear: both; }
.column { float:left; }

p.errorMsg { clear: both; float: left; margin-left: 16px; font-size: 1.3em; line-height: auto; *margin-top: 1em; }

span.appName { text-transform: uppercase; }

div.newproject-buttons + h1#pagetitle { margin-top: -24px; *margin-top: 0; }

h1 span.txt-filteredby { margin-left:8px; }
h1 span.txt-filteredby, 
h1 span.txt-filteredresults { font-size:small; color:#666; }
h1 div { display: inline; }


/* Special Styles for Table Cells */

td.edit, td.links { text-align: right; padding-right: 0; }

.backtowrapper { clear:both; text-align:left; margin:0 0 6px 16px; padding-top:10px; }
*+html .backtowrapper { padding-top:0; margin-top:-12px; }
.backtowrapper a { color:#999; text-decoration:underline; }
.backtowrapper a:hover { color:#333; }
.backtowrapper a span { font-size:1.3em; font-weight:700; }

/* --------------------------------------------------------- */
/* --- Breadcrumbs to Override Styles in staticpages.css --- */
/* --------------------------------------------------------- */

#breadcrumbs { float:none; margin-bottom:10px; padding:0 0 10px 0; width:100%; border-bottom:1px solid #ccc; }
#breadcrumbs li { float:none; display:inline; padding:0 5px 0 15px; background:url(../img/ic-breadcrumb.gif) no-repeat left center; }
#breadcrumbs li.first { padding:0; background-image:none; }
#breadcrumbs li.last { font-weight:bold; }

/* -------------------------------------------- */
/* --- Content Controls (aka Options Lists) --- */
/* -------------------------------------------- */
.options { float:right; display:block; width:211px; min-height:24px; margin:-2px 0 0 0; padding:0; background:url(../img/bg-options.png) no-repeat; overflow:hidden; list-style:none; }
.options li { float:left; margin:0; padding:0; width:auto; }
.options li.last { float:right; }
.options li a { display:block; width:auto; padding:4px 0; color:#666; }
.options li a:hover { color:#666; text-decoration:underline; }
.options li a#opt-savefilter { background:url(../img/ic-savefilter.png) 12px 3px no-repeat; padding-left:32px; /* extra target */ }
.options li a#opt-revert { background:url(../img/ic-revert.png) 0 4px no-repeat; padding:4px 17px 4px 18px; /* extra target */ }
.options li a#opt-createRevision { background:url(../img/ic-create-revision.png) 0 2px no-repeat; padding-left:20px; }
.options li a#opt-createReorder { background:url(../img/ic-create-reorder.png) 0 2px no-repeat; padding-left:20px; }

div.newproject-buttons { float:right; background:url(../img/bg-options-rt.png) no-repeat right top; padding:0 5px 0 0; width: auto; }
div.newproject-buttons .options { margin: 0; display: inline-block; float: none; padding: 0 0 0 10px; width: auto; background:url(../img/bg-options_lt.png) no-repeat; }
div.newproject-buttons .options li { display: inline-block; margin:0 5px 0 0; }
div.newproject-buttons .options li.last { margin-right: 0; float: none; }
div.newproject-buttons .options li a { width:auto; padding:4px; color:#666; }


li.message-success { position:relative; top:4px; width:100%; margin:0 auto; text-align:center; color:#549A0D; font-weight:700; }

/* --------------- */
/* --- Filters --- */
/* --------------- */

#filterswrapper { clear:both; }
*+html #filterswrapper { /* IE7 */ margin-top:-24px; }
#filterswrapper label { color:#555; }

#filters-mainsearch { border-top:1px solid #D9D9D9; margin:0 15px; padding:10px 0; }
*+html #filters-mainsearch { /* IE7 */ padding:4px 0 8px 0; }

#filtersinnerwrapper label { clear:left; float:left; display:block; width:100px; margin-top:4px; }
#filtersinnerwrapper select, #filtersinnerwrapper input.textfield1 { width:90px; }
#filtersinnerwrapper input.textfield2 { /* small */ width:40px; }

#filterselection { float:left; width:240px; margin-bottom: 10px }
#filterselection label { float:left; color:#d29252; font-weight:700; }

select#filters { margin:0; }

#thefilters { float:left; width:620px; text-align:right; height:auto; }

.filterwrapper { float:left; text-align:left; width:308px; margin-bottom:10px; min-height:22px; }

.bu-filters { position:relative; top:3px; color:#666 !important; padding-left:14px; }

.filterremove { padding:4px 6px; background:url(../img/ic-close.gif) 0 4px no-repeat; margin-left:4px; text-decoration:none !important; }
.filterremove span { visibility:hidden; }

.filterwrapper .filterremove { background:url(../img/ic-close.gif) 0 6px no-repeat; }


#query { width:225px; padding:2px 3px 2px 3px; float:left; border:1px solid #8e8e8e; color:#666; font-size:1.1em; }


a.plus { background:url(../img/ic-show.png) 0 1px no-repeat; }
*+html a.plus { /* IE7 */ background:url(../img/ic-show.png) 0 2px no-repeat; }

a.minus { background:url(../img/ic-hide.png) 0 1px no-repeat; }
*+html a.minus { /* IE7 */ background:url(../img/ic-hide.png) 0 1px no-repeat; }


/* BEGIN FILTER COLUMNS */

div[id$="lastModifiedwrapper"] label { /* minor line-height adjustment */
	margin-top:6px !important;
}

*+html div[id$="lastModifiedwrapper"] label { /* IE7, minor line-height adjustment */
	margin-top:5px !important;
}



div[id$="createDatewrapper"] label { /* minor line-height adjustment */
	margin-top:6px !important;
}

*+html div[id$="createDatewrapper"] label { /* IE7, minor line-height adjustment */
	margin-top:5px !important;
}



/* END */



.t-calendar-trigger { position:relative; top:3px; width:14px; height:16px; }



.remove { display:block; float:right; padding:0; background:url(../img/ic-close.gif) no-repeat 0 0; margin-left:10px; margin-right:5px; width:11px; text-decoration:none !important; }
.remove span { visibility: hidden; }

table.t-data-grid a.remove { display:inline; float:none; }



a.jdedata { margin:0 2px; padding:2px 0; width:16px; background:url(../img/ic-information.png) no-repeat 0 0; text-decoration:none; }
a.jdedata span { visibility: hidden; }

th.bean-edit-grid-handle { width:20px !important; width /**/:33px; }

td.bean-edit-grid-handle { cursor:move; }
	
.bean-edit-grid-hover td { border-top:1px solid #d29252; }

fieldset.instructions #instructions input { width:350px; }

fieldset#instructions table { margin:5px 0; }

div.moveUp { display:block; background:url(../img/bu-arrow-up.png) no-repeat 0 0; width:10px; float:left; }
div.moveDown { display:block; background:url(../img/bu-arrow-down.png) no-repeat 0 1px; width:10px; float:left; }
div.moveUp span, div.moveDown span { visibility:hidden; }

.with-checkradio { /* for use next to checkbox or radio */ background:url(../img/ic-close.gif) 0 1px no-repeat; }



#innersubmitwrapper { clear:left; position:relative; border-top:1px solid #B3C7D1; text-align:center; padding:4px 0 0 0; overflow:hidden; }
*+html #innersubmitwrapper { /* IE7 */ top:0px; margin:0 0 0 0; }

#innersubmitwrapper .bu-small-green { float:none; margin:0 auto !important; }
			
/* end filters & search */

/* ------------- */
/* --- Boxes --- */
/* ------------- */

.box {
	clear:left;
	width:900px;
	margin:10px 0 0 0;
	/*overflow:hidden; this is causing calendar popup bug */
}

.box-withtabs {
	margin-top:0 !important; /* removes space between tabs and box */	
}

.boxtop {
	height:5px;
	/*overflow:hidden; this is causing calendar popup bug */
}

.boxbot {
	height:5px;
	overflow:hidden;
}

.boxcontent { clear:both; padding:5px 14px; width:872px !important; width /**/: 00px; }

/* green */
.box-green-v1 { background:url(../img/box-green-v1-mid.png) repeat-y; }
.box-green-v1 .boxtop { background:url(../img/box-green-v1-top.png) no-repeat; }
.box-green-v1 .boxbot { background:url(../img/box-green-v1-bot.png) no-repeat; }

/* blue */
.box-blue-v1 { background:url(../img/box-blue-v1-mid.png) repeat-y; }
.box-blue-v1 .boxtop { background:url(../img/box-blue-v1-top.png) no-repeat; }
.box-blue-v1 .boxbot { background:url(../img/box-blue-v1-bot.png) no-repeat; }

/* table formatting; some may move to a higher level */

#gridheader, .tabcontrols {
	/*overflow:hidden;*/
	margin:5px 0 2px 0;	
}


#gridheader:after, .tabcontrols:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#projectsgrid {
	clear: both;
	overflow: auto; /* allows horizontal scrolling when there are too many columns in table contained within it  */
	display: block;
	width: 872px !important;
	width /**/: 872px;
}

div.t-data-grid { /* wraps tables, esp. in project overview lightbox */
	clear:both;
	margin-bottom: 1em;
}

.gridfooter {
	/*overflow:hidden;*/
	color:#666;
	margin:11px 0 0 0;
	clear: both;
	padding: 5px 0 20px 0;
	/*position: relative;*/
}

  



/* begin activity pop */

.box-activity {
	position:absolute;
	z-index: 10;
	width:477px;
	margin:0 0 0 24px;
	padding:0 18px 7px 0;
	font-size:1em;
	background: url(../img/bg-box-activity-shadow-bot.png) 0 bottom no-repeat;	
}

.box-activity .gridfooter { display: none; }

.box-activity .content-wrapper {
	margin:0 0 3px 0;
	padding:0 18px 0 0;
	background:url(../img/bg-box-activity-shadow-rt.png) right 0 no-repeat;
}

.box-activity .content {
	width:452px;
	margin:0; /* sets shadow of .box-activity */
	background:#F9FFF0;
	margin:0 0 0 0;
	border:1px solid #BCD3A5;
	padding:8px 8px 8px 8px;
}

.box-activity table tr td {
	background-color:#F9FFF0 !important;
	background-image:none !important;
}

.box-activity table thead, .box-activity .tabcontrols {
	display: none;	
}

.box-activity table td {
	border:none;
	padding:3px;
	vertical-align: top;
}

.box-activity table td.createDate {
	width:14%;
	white-space:nowrap;
}

.box-activity table td.user {
    width: 25%;
}

.box-activity table td.user {
	font-weight:700;
	padding-left: 5px;

}
.box-activity table td.change {
    padding-left: 26px;
}

.box-activity table tr.project td.change a.toggle {
	display: none;	
}

.box-activity table tr.completed td.change {
	background:#F9FFF0 url(../img/ic-completed-green.png) 5px 3px no-repeat !important;
}

.box-activity table tr.assigned td.change {
	background:#F9FFF0  url(../img/ic-assignedtask-green.png) 5px 2px no-repeat !important;
}

.box-activity table tr.comment td.change {
	background:#F9FFF0 url(../img/ic-comment.png) 5px 2px no-repeat !important;
}

*+html .box-activity table tr.completed td.change { /* IE7 */
	background:#F9FFF0 url(../img/ic-completed-green.png) 5px 2px no-repeat !important;
}

*+html .box-activity table tr.comment td.change { /* IE7 */
	background:#F9FFF0 url(../img/ic-comment.png) 5px 1px no-repeat !important;
}

/* end activity pop */

.gridheader {
	width:100%;
	overflow:hidden;
}

.gridsummary {
	float:left;
	width:auto;
	color:#666;
	/*padding:0;*/
	margin-right:24px;
	font-size:1.1em;
}

.gridlinks {
	margin:0 0 2px 0;
	padding:0;
	list-style:none;
	float:right;
	text-align:right;
	width:auto;
}

.gridlinks li {
	float:left;
}

.gridlinks a {
	display:block;
	color:#666;
	margin-left:20px;
}

/* form extended */

/* only works in ff2 mac so far.*/
select#filters {  /* by doing this, we keep the selected state bold */
	font-weight:700;
	width:110px;
} 

*+html select#filters { /* IE7 does not support this, so keep all bold? */
	font-weight:700;
}

select#filters option { 
	font-weight:400;
}

select#filters option.first { /* except for this one */
	font-weight:700;
}

/* end form extended */

#gh-customize {
	padding:0 0 0 20px;
	background:url(../img/ic-customize.png) 0 0 no-repeat;
}

#gh-export {
	padding:0 0 2px 20px;
	margin-right:5px;
	background:url(../img/ic-export.png) 0 0 no-repeat;
}

*+html #gh-export { /* IE7 */
	padding:0 0 7px 20px;
	background:url(../img/ic-export.png) 0 0 no-repeat;
}

#gh-email {
	padding:0 0 2px 20px;
	margin-right:5px;
	background:url(../img/ic-email.png) 0 0 no-repeat;
	color: #666666;
}

*+html #gh-email { /* IE7 */
	padding:0 0 7px 20px;
	background:url(../img/ic-email.png) 0 0 no-repeat;
}

#cost-calc {
	padding:0 0 2px 20px;
	margin-right:5px;
	background:url(../img/ic-calculator.png) 0 -1px no-repeat;
	color: #666666;
	}

*+html #cost-calc { /* IE7 */
	padding:0 0 7px 20px;
	background:url(../img/ic-calculator.png) 0 -1px no-repeat;
}

/* common table */
td.activity a.hoverbox {
	display:block;
	width:30px;
	height:23px;
	background:url(../img/ic-infowin.png) 7px 4px no-repeat;
	overflow:hidden;
	position: static;
}

td.activity a.hoverbox span {
	display:none;
}

td.project a.hoverbox {
	font-weight:700;
}

tr.closed td, tr.actual td {
	background-image:none !important;
	background:#F5F5F5;
	color:#777;
	border-bottom:1px solid #e6e6e6;
}
/* end common table */

/* various buttons */


input#clearSearch {
	padding:0;
	background:url(../img/bu-clearsearch.png) 0 4px no-repeat;
	height:24px;
	margin-top:-4px;
	float:none;
	display:inline;
	width: 40px;
	margin-left: -5px;
}

*+html input#clearSearch { /*IE7 */
	padding:0;
	background:url(../img/bu-clearsearch.png) 0 0 no-repeat;
	height:20px;
	margin-top:0;
}

input.bu-save { /* readjusts value text to correct location */
	padding:0 0 0 8px;
	background:url(../img/bu-save.png) 0 4px no-repeat !important;
	width:60px;
	height:24px;
	margin:-4px 0 0 5px;
	float:none;
	display:inline;
}

*+html input.bu-save { /*IE7 */
	margin-top:0;
	padding-left:10px;
	background:url(../img/bu-save.png) 0 0 no-repeat !important;	
}

input.bu-savenewproject { /* readjusts value text to correct location */
	padding:0 0 0 8px;
	background:url(../img/bu-save-big.png) 0 4px no-repeat !important;
	width:126px;
	height:24px;
	margin:-4px 0 0 5px;
	float:none;
	display:inline;
}

*+html input.bu-savenewproject { /*IE7 */
	margin-top:0;
	padding-left:10px;
	background:url(../img/bu-save-big.png) 0 0 no-repeat !important;	
}

input.bu-revert { /* readjusts value text to correct location */
	background:url(../img/ic-revert.png) 0 4px no-repeat;
	width:auto;
	height:auto;
	color:#666;
	padding: 3px 3px 3px 18px;
	margin: 0 0 0 5px;
	float:none;
	display:inline;
}

*+html input.bu-revert { /*IE7 */
	background:url(../img/ic-revert.png) 0 4px no-repeat;
	padding: 4px 3px 0 12px;
}

a#recalculate {
	background:url(../img/ic-refresh.png) 0 2px no-repeat;
	padding: 4px 4px 4px 22px;
	color:#666;
	width: auto;
}

/*.bu-done {
	display:block;
	padding:2px 10px 0 15px;
	background:url(../img/bu-done-x.png) 0 0 no-repeat;
	font-size:.95em;
	color:#666;
	height:16px;
	font-weight:700 !important;
	width:auto;
	line-height:1.4em;
}*/

.bu-done {
	float: none;
	display: inline;
	padding:2px 10px 2px 15px;
	background:url(../img/bu-done-x.png) 0 0 no-repeat;
	font-size:.95em;
	color:#666;
	height:16px;
	font-weight:700 !important;
	width:auto;
	}

*+html .bu-done { /* IE7 */
	line-height:1.3em;
}

.bu-done:hover {
	color:#fff;
	background:url(../img/bu-done-x.png) 0 -18px no-repeat;
}

.bu-markreceived {
	float: none;
	display: inline;
	padding:2px 10px 2px 15px;
	background:url(../img/bu-received-x.png) 0 0 no-repeat;
	font-size:.95em;
	color:#666;
	height:16px;
	font-weight:700 !important;
	width:auto;
	}

*+html .bu-markreceived { /* IE7 */
	line-height:1.3em;
}

.bu-markreceived:hover {
	color:#fff;
	background:url(../img/bu-received-x.png) 0 -18px no-repeat;
}

/* common thoughout */
.tablinks { width:auto; float:right; margin:0; padding:10px 0; position:absolute; top:20px; right:20px; }
.tablinks a { padding:0; color:#666; font-weight:bold; }
.tablinks a.bu-add { padding: 0 0 0 18px; display: inline; }
.tablinks a:hover { color:#333; }

/* --------------- */
/* ---- Forms ---- */
/* --------------- */

/* Pre-defined form element sizes */
select.element-sm,
input[type="text"].element-sm { width: 50px; } /* Small select element; < 5 characters */
input[type="text"].element-md, select.element-md { width: 110px; } /* Medium select element; < 15 characters */
select.element-smw { width: 70px; }
select.element-lg { }


/* IP Ranges */
.ip-range { clear:left; padding:3px 0 4px; position:relative; }
.ip-range input,
.ip-range label { display:inline-block; }
.ip-range input.ip-octet { width:2.5em; }
.delimiter { margin: 0 20px; }
.ip-range .bu-remove { margin-left: 20px; }
.dot-decimal { display: inline-block; margin:0 3px; }

/* Shibboleth Attributes */
.principalShibbolethExternalId { clear:left; padding:3px 0 4px; position:relative; }
.principalShibbolethExternalId .bu-remove, .form-row.assertionTitle .bu-remove { margin-left: 10px; line-height: 2; }
.principalShibbolethExternalId input { margin-right: 10px; }
.form-row.assertionTitle label, .principalShibbolethExternalId .attribute { width: 70px; display: inline-block }
.principalShibbolethExternalId .attribute { width: 75px; }
.content-wrap dt { display:inline-block; font-weight:bold; margin-bottom:1em; width:20%; min-width:140px; vertical-align: top; }
.page-accountcredentials dl { margin-bottom: 0; } 
.page-accountcredentials dt, .page-accountcredentials dd { width: auto; min-width: 0; margin-right: 20px; } 
.page-accountcredentials dd { margin-right: 50px; }

/* Referring URLs */
.referrerCredentialsUrl { padding:3px 0 4px; }
.referrerCredentialsUrl input[type='text'] { width: 350px; }
.referrerCredentialsUrl .scheme { color: #ccc; margin-right: 5px; }
.referrerCredentialsUrl .bu-remove { margin-left: 20px; }


/* Reorder the fieldsets on add/edit pages */
.page-addeditnoticedefinition .fieldset-ajaxautolist,
.page-addedittokenbatch .fieldset-ajaxautolist { margin-top:100px; }
.page-addeditnoticedefinition .fieldset-ajaxautolist legend,
.page-addedittokenbatch .fieldset-ajaxautolist legend { width:100%; padding-top: 1em; border-top:1px solid #ccd0c5; }
.fieldset-details { position:absolute; top:76px; left:32px; margin-right:64px; border:none; }
.noticedefinitions .fieldset-delivery { margin-top:0; }
.noticedefinitions .fieldset-message { border-bottom:none; }
.noticedefinitions .fieldset-message textarea { width:400px; height:100px; }

.selected-offers ul { margin:5px 0 0; padding-left:0; list-style:none; }
.selected-offers ul li { padding:5px .5%; width:500px; }
.selected-offers ul li:hover { background-color:#eee; }
.selected-offers ul li a { float:right; }

ul.offerlist li {
	display: block;
}

/* custom from tapestry's default.css */
/* added support for div.form-row (not part of tapestry's default) */

div.t-beaneditor-row label, 
div.t-beandisplay div.t-beandisplay-label,
div.form-row label {
	display: block;
	float: left;
	padding: 5px 20px 0 0;
	width: 140px;
}
div.t-beaneditor-row label.inline, 
div.t-beandisplay div.t-beandisplay-label,
div.form-row label.inline{ display: inline; width:auto; }

.tab-contents div.form-row label { width:120px; }

*+html div.t-beaneditor-row label, 
*+html div.t-beandisplay div.t-beandisplay-label,
*+html div.form-row label { /* IE7 */
	padding: 1px 20px 0 0;
}


div.t-beaneditor-row div.otherField,
div.form-row div.otherField {
	float: left;
	margin-left: 8px;
}

/* Do not display the label "Other" for the the other text field. */
div.t-beaneditor-row div.otherField label,
div.form-row div.otherField label {
	display: none;
}

div.t-beaneditor-row input[type="checkbox"],
div.t-beaneditor-row input[type="radio"],
div.form-row input[type="checkbox"],
div.form-row input[type="radio"] {
	margin-top: 7px;
}

input#generateTokens, input#sameValueTokens { margin-top: 5px; }


.t-beaneditor-row select, 
.t-beaneditor-row input, 
.t-beaneditor-row textarea,
.form-row select, 
.form-row input, 
.form-row textarea {
	display: block;
	float: left;
}

*+html div.t-beaneditor-row select,
*+html div.form-row select { /* IE7 */
	padding: 1px 0 0 0;
}

*+html div.t-beaneditor-row input,
*+html div.form-row input { /* IE7 */
	padding-bottom: 4px;	
}

/*div.t-beaneditor-row .required {
	top: 0 !important;	
}*/

div.content-lt div.t-beaneditor-row textarea#comments {
	width: 280px;
	min-height: 5em;
}

div.t-beaneditor-row img.t-calendar-trigger {
	margin-top: -3px;
	float:left;
}

.innersubmitwrapper a { margin-right: 10px; }
.t-beaneditor-button a,
.bu-cancel { margin-right:10px; }

/* Styles for Set of Status Checkboxes */

fieldset.status input[type="checkbox"] {
	float: left;
}
	
fieldset.status label { 
	clear: none;
	display: block;
	float: left;
	/*width: 13em;*/
	width: auto;
}

fieldset.status div.date-toggle-div,
fieldset.status div.date-toggle-div input,
fieldset.status div.date-toggle-div img { 
	display: block;
	float: left;
	width: auto;
}

fieldset.status div.date-toggle-div img {
	margin-top: -3px;
}

/* Instructions */
fieldset#instructions table td.value input[type="text"] {
	width: 300px;
}

.content-wrap fieldset legend {
	font-size:1.1em;
}


/* Help */
.help,
.help-left {
	float: left;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: .9em;
	line-height: 1.2;
	padding: 2px 6px;
	margin: 2px 0 2px 5px;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	cursor: pointer;
}

.help-right {
	float: right;
}

legend .help, h4 .help {
	float:none;
	display:inline-block;
}

.platform-report-config .help {
	display: inline-block;
	float: none;
}

.row .help { display: inline-block; float: none; }

.help:hover,
.help-left:hover {
	border: 1px solid #709D1D;
	color: #709D1D;
}
.help span,
.help-left span {
	position: absolute;
	left: -999em;
}

.helpmessage {
	border: 1px solid #ccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	width: 250px;
	padding: 7px 11px 10px;
	color: #979797;
	background: #fcfcfc;
	position: absolute;
	margin-right: -300px;
	z-index: 1000;
	display: none;
}

/* Contract Terms */

fieldset.contractTerms div.t-beaneditor-row div {
	display: block;
	float: left;
	width: auto;
}


fieldset.contractTerms div.t-beaneditor-row div div {
	clear: left;
	padding: 4px 0;
	line-height: 1.5em;
}

fieldset.contractTerms div.t-beaneditor-row div label {
	width: 70px;
	margin-right: 10px;
}

/* Additional Clauses */

fieldset.additionalClauses div { /* Styled same as t-beaneditor-row */
	clear:left;
	min-height: 1.5em;
	padding: 4px 0;
	line-height: 1.5em;
}

*+html fieldset.additionalClauses div { /* IE7 */
	line-height:1.5em;
}

fieldset.additionalClauses div label {
	display: block;
	float: left;
	padding: 0;
	width: auto;
}
*+html fieldset.additionalClauses div label { /* IE7 */
	padding: 1px 0 0 0;
}

fieldset.additionalClauses div select, 
fieldset.additionalClauses div input, 
fieldset.additionalClauses div textarea {
	display: block;
	float: left;
	padding: 0;
}

*+html fieldset.additionalClauses div select { /* IE7 */
	padding: 1px 0 0 0;
}

/* +/- toggle button */
.toggle {
	display:block;
	float:left;
	width:16px;
	height:14px;
	overflow:hidden;
	margin:0 0 0 0;
	background-repeat:no-repeat;
	background-position:2px 2px;
}

a.plustoggle { background-image:url(../img/ic-sqplus.png); }
a.minustoggle { background-image:url(../img/ic-sqminus.png); }
a.toggle span { display:none; }

/*
.group {
	background: url(../img/ic-group.png) no-repeat 0 2px;
	padding-left: 14px;
}
*/

div.content-onecol-table {
    clear: both;
}

.bu-add, #bu-newcomment, .bean-edit-grid-add, #addrowlink {
	display: block;
	background: transparent url(../img/ic-plus-small.png) no-repeat 0 1px;
	margin: 10px 0 0;
	padding: 0 0 0 18px;
}

#instructions.bean-edit-grid table { border-top: 1px solid #eee; }
#instructions.bean-edit-grid thead { display: none; }

/* browse page */

tr.collection td.name a {
    background: transparent url(../img/icon_folder.gif) no-repeat 0px -4px;
}

/* don't show the headers on static pages form */
.t-beaneditor h2 { display: none; }

.t-data-grid .bu-delete {
	display: block;
	background: transparent url(../img/ic-x.png) no-repeat left top;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
}
.t-data-grid .bu-enable {
	display: block;
	background: transparent url(../img/control_play.png) no-repeat left top;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
}
.t-data-grid .bu-disable {
	display: block;
	background: transparent url(../img/control_pause.png) no-repeat left top;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
}
.t-data-grid .cms-up-link {
	display: block;
	background: transparent url(../img/bu-arrow-up.png) no-repeat left 3px;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	float: left;
	cursor: pointer;
}
.t-data-grid .cms-down-link {
	display: block;
	background: transparent url(../img/bu-arrow-down.png) no-repeat left 3px;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	float: left;
	cursor: pointer;
}

a.bu-publish {
	display: block;
	background: transparent url(../img/ic-publish.png) no-repeat left top;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
}

a.bu-discard {
	display: block;
	background: transparent url(../img/ic-discard.png) no-repeat left top;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
}

.t-data-grid tr.disabled td:not(.actions) { text-decoration: line-through; opacity: .6; }
.t-data-grid .bu-delete span, .t-data-grid .bu-disable span, .t-data-grid .bu-enable span { display: none; }
.t-data-grid .cms-up-link span { display: none; }
.t-data-grid .cms-down-link span { display: none; }
a.bu-publish span { display: none; }
a.bu-discard span { display: none; }

#rowcontrols fieldset { border: none; margin: 0px; padding: 0px; }
#rowcontrols fieldset fieldset { border: none; padding-left: 1.5em; }
#rowcontrols input.text { width: 70px; }
#rowcontrols #incrementValue { width: 40px; text-align: center; }
#rowcontrols .hint { color: #ddd; padding-left: 1em; }
#rowcontrols .hint:hover { color: #888; }
#rowcontrols p { margin-bottom: 0px; }

.page-job #log-output-wrapper div { border: 1px solid #aaa; overflow: auto; height: 300px; padding: .5em; }

.t-palette-controls button { border: none; background-color: #fff; }

.page-jobs #previous-jobs-wrapper td.id { padding-left: 18px; }
.page-jobs #previous-jobs-wrapper tr.failure td.id { background: transparent url(../img/exclamation.png) no-repeat 0px 6px; }

.page-contentsetsearch #saveRule { display: inline-block; border: 1px solid #ccc; padding: 3px; float: right; }
.page-contentsetsearch #topWrapper { clear: both; display: block; min-height: 100px; }
.contentSetGrid .t-data-grid-pager { float: right; }
.contentSetGrid .t-data-grid { clear: both; }
.contentSetGrid .gridWrapper { border: 1px solid #ccc; clear: both; }
.contentSetGrid .chunkViewToggle { display: inline; }
.contentSetGrid .chunkViewToggle .active { font-weight: bold; }
.contentSetGrid #databaseTabs { float: none; }
.contentSetGrid .gridControls { padding: 3px; }
.contentSetGrid .resultSummary { margin-right: 10px; }
.contentSetGrid .t-data-grid-pager { margin-top: -20px; }

.contentSetGrid .pageSizeWrapper form, .contentSetGrid .pageSizeWrapper { display: inline; }
.contentSetGrid .pageSizeWrapper { padding-left: 10px; float: right; margin: 0 0 .5em 0;}
.contentSetGrid .pageSizeWrapper select { width: 40px; }

.page-sitefeatures fieldset label { width: auto; }
.page-sitefeatures #sampleResult { float: right; display: inline-block; width: 60%; }
.page-sitefeatures #sampleResult .image { float: left; margin: 0px 10px 10px 0px; background-color: #bbb; }
.page-sitefeatures #sampleResult .itemTitle { display: block; }
.page-sitefeatures #sampleResult h3 { margin: 5px; padding: 0px; font-weight: normal; }
.page-sitefeatures #sampleResult h3 em { font-weight: bold; }
.page-sitefeatures #sampleResult .context,
.page-sitefeatures #sampleResult h2,
.page-sitefeatures #sampleResult h3 { margin-left: 90px; }
.page-sitefeatures #sampleResult .context .hi { background-color: #ddd; }
.page-sitefeatures #resultDisplay fieldset { float: left; }
.page-sitefeatures .innersubmitwrapper { clear: both; }
.page-sitefeatures #sampleResult { border: 1px solid #ccc; padding: 5px; margin-top: 30px; }

.page-sitepublish dl dd, .page-sitepublish dl dt { float: left;}
.page-sitepublish dl dt {clear: left; min-width: 7em; font-weight: bold; }
.page-sitepublish #summarywrap {clear: both; padding-bottom: 3em; display: block; }
.page-sitepublish .warning { border: 1px dashed #f00; margin: 1em; padding: .5em; font-weight: bold; text-align: center; }


/* content set search filtering UI */

.filterWrapper { border: 1px solid #ccc; min-height: 150px; /* hack! */}
.filterWrapper .groupControlWrapper { float: left; }
.filterWrapper li { list-style-type: none; }
.filterWrapper .groupWrapper { }
.filterWrapper .groupWrapper .group { display: none; font-weight: normal; }
.filterWrapper .groupWrapper .current { display: inline-block; }
.filterWrapper .showAll .group {display: inline-block; }
.filterWrapper .groupWrapper .group .operator { float: left; }
.filterWrapper .groupWrapper .group .first .operator { display: none; }
.filterWrapper .groupWrapper .fieldType { width: 100px; margin: 0px 5px; }
.filterWrapper .groupWrapper .group .first .fieldType { width: 125px; margin-left: 0px; }
.filterWrapper .groupWrapper li.ruleLabel { display: none; }
.filterWrapper .group .or { display: none; font-weight: bold; margin: 3px; margin-left: 45px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.filterWrapper .showAll .or { display: inline-block; }
.filterWrapper .groupWrapper .first .or { display: none; }

.filterWrapper .groupTabs li { border: 1px solid #ccc; padding: 5px; padding-left: 7px; margin-left: -1px; margin-top: -1px; }
.filterWrapper .groupTabs { margin: 0px; padding: 0px; width: 100px; margin-right: 5px; }
.filterWrapper .groupActions { clear: left; margin-top: 10px; padding: 5px; text-align: center; }
.filterWrapper .groupTabs .current { border-left: 5px solid #ccc; font-weight: bold; padding-left: 3px; }
.filterWrapper .bu-remove { padding:4px 6px; background:url(../img/ic-close.gif) 0 6px no-repeat; margin-left:4px; }
.filterWrapper .bu-remove span { display: none; } 
.filterWrapper .filterActions { width: 100px; }
.filterWrapper .filterActions label { float: none; padding: 5px; }
.filterWrapper .filterActions ul { display: none; position: absolute; padding: 0px; margin: 0px; background-color: white; z-index: 1000; width: 100px; }
.filterWrapper .filterActions:hover ul { display: block; }
.filterWrapper .filterActions li { padding: 3px; border: 1px dashed #ccc; }
.filterWrapper .filterActions a { display: block; }

.filterWrapper .rangeField { width: 40px; }
.filterWrapper .rangeWrapper input, .filterWrapper label { float: none; display: inline; }
.filterWrapper .rangeWrapper input { margin: 0px; }
.filterWrapper .rangeWrapper { float: left; margin-right: 10px; margin-left: 10px; }
.filterWrapper .exactValueWrapper label { width: auto; padding: 0px; padding-right: 5px; float: none; display: inline; }
.filterWrapper .exactValueWrapper input { margin-right: 2px; float: none; display: inline; }
.filterWrapper .exactValueWrapper { float: left; border: 1px solid #ccc; padding: 3px; margin: 2px; margin-top: -4px; }

.filterWrapper .t-multicheck { display: inline; }
.filterWrapper .t-multicheck input { padding: 0px; margin: 0px; margin-right: 3px;   }
.filterWrapper .t-multicheck label { width: auto; margin: 0px; padding: 0px; margin-right: 5px; margin-top: -1px; }

.page-contentsetdetail #workflowActions { position: absolute; right: 30px; top: 25px; }
.page-contentsetdetail #workflowActions a { display: inline-block; border: 1px solid #ccc; padding: 5px; }
.page-contentsetdetail .definitionModule { float: left; border: 1px solid #ccc; margin-right: 10px; min-height: 15em; width: 40%; padding-left: 5px; }
.page-contentsetdetail #contentWrapper { clear: both; }
.page-contentsetdetail #contentListsWrapper ul li { list-style-type: none; padding: 0px; margin: 0px; }
.page-contentsetdetail #contentListsWrapper ul { padding: 0px; margin: 0px; margin-top: 1em; }
.page-contentsetdetail #rulesWrapper a { display: block; }
.page-contentsetdetail #workflowInfo { position: absolute; top: 8px; right: 30px; font-weight: bold; }

/* site design page */

.page-sitedesign input.color { width: 60px; }
.page-sitedesign input.size { width: 40px; }
.page-sitedesign input.font { width: 100px; }
.page-sitedesign #linksButtons fieldset { display: inline-block; float: left; margin-right: 30px; border: none; }

.page-sitedesign #propertiesPanel { position: absolute; right: 0px; top: 105px; border: 1px solid #ccc; background-color: #fff; padding: 5px; width: 500px; }
.page-sitedesign #propertiesPanel #showForm, .page-sitedesign #propertiesPanel #hideForm { float: left; border: 1px solid #ccc; width: 15px; text-align: center; }
.page-sitedesign #propertiesPanel #showForm:hover, .page-sitedesign #propertiesPanel #hideForm:hover { background-color: #ddd; }
.page-sitedesign #propertiesPanel #previewForm { float: right; }
.page-sitedesign #propertiesPanel h3 { margin-left: 2em; }
.page-sitedesign #propertiesPanel #panelHeader { margin-top: -15px; }
.page-sitedesign #propertiesPanel fieldset { margin: 0px; padding: 0px; margin-bottom: 5px; }
.page-sitedesign #propertiesPanel fieldset legend { margin: 0px; padding:0px; }
.page-sitedesign #propertiesPanel fieldset .categoryContents { padding: 5px; border: none; }
.page-sitedesign #propertiesPanel fieldset legend a { display: inline-block; border: 1px solid #ccc; padding: 5px; width: 490px; }
.page-sitedesign .innersubmitwrapper { position: absolute; top: 55px; right: 0px; }
.page-sitedesign #propertiesPanel #hideForm { display: inline-block; }
.page-sitedesign #propertiesPanel #showForm { display: none; }
.page-sitedesign #propertiesPanel.collapsed #hideForm { display: none; }
.page-sitedesign #propertiesPanel.collapsed #showForm { display: inline-block; }
.page-sitedesign #previewFrame { width: 1030px; margin-left: -55px; height: 800px; border: 1px solid #ddd; -moz-box-shadow: 3px 3px 10px #222; box-shadow: 3px 3px 10px #222; background-color: #444; }

.page-sitedesign #propertiesPanel label { float: left; clear: left; line-height: 1.55em; margin-top: 5px; display: inline-block; font-weight: bold; }
.page-sitedesign #propertiesPanel input, .page-sitedesign #propertiesPanel select { float: right; line-height: 1.25em; margin-top: 5px; display: inline-block; clear: right; }
.page-sitedesign #propertiesPanel fieldset { margin-bottom: .5em; border: none; }


/* login page */

.login-link { clear: both; display: block; margin-left: 100px; margin-top: 25px; }
.page-login .innersubmitwrapper { clear: left; padding-left: 100px; }
.page-login div.t-beaneditor-row label { width: 80px; }
.page-login #canvas { border-top: 1px solid #ddd; min-height: 0; }

.page-forgotpassword #main, .page-forgotpasswordemailsent #main, .page-resetpassworddone #main, .page-resetpassword #main { clear: both; }
.page-forgotpassword #main label { width: 80px; padding: 4px 20px 0 0; float: left; }
.page-forgotpassword #main input[type="submit"] { display: block; margin: 15px 0 0 100px; float: left; clear: both; }
.page-forgotpassword #main .bu-cancel { float: left; display: block; margin: 19px 0 0 15px; }


/* Account display */

#loginInfo ul { margin:0; padding:0; list-style:none; }
ul.institutionalInfo li { padding: 5px 15px; }

/* Add/Edit Token Batches */
.tokenRedemptions { clear: both; padding:1em 0 0 18px;}
.tokenRedemptions label { width:auto !important; padding-right:0 !important; }
#tokenCount, #staticTokenValue { margin-left:10px; }
#contentDownloadLimit-label { padding-right:10px; }
#singleUseTokens-label,
#multiUseTokens-label { width: 230px; padding-right: 20px; display: inline-block; }

/* add subscription page */

#commentListZone ul { padding-left: 0; }
#commentListZone li { margin: 0 0 1em; list-style-type: none; }
#commentListZone li a { margin-left: 10px; }
#commentListZone input { margin-left: 0; }
#commentListZone textarea { display: block; margin-bottom: 10px; height: 70px;}

/* Add/Edit Offer */

#listZone-Product input { margin-bottom: 5px; }
#listZone-Product input[type="submit"] { margin-left: 10px; margin-bottom: 0; }
#listZone-Product .datePicker { top: 27px !important; }

/* -------------------------------------------- */
/* --- Media Queries for Responsive Layouts --- */
/* -------------------------------------------- */

/* moved to head in Layout.tml*/

/* added by eugene nov.23 */
.no-top-margin { margin-top: 0 !important; }


/* -------------------------------------------- */
/* ------- Date Picker Override Styles  ------- */
/* - (overrides tapestry's datepicker styles) - */
/* -------------------------------------------- */


.datePicker {
    background-color: #fff !important;
    z-index: 500000;
    border: 1px solid #888 !important;
}

.datePicker td {
	color: #333 !important;
}
.datePicker td.red { color:#333 !important; }
.datePicker td .topLabel { }


.datePicker .header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#bbbbbb') !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#bbb)) !important;
	background: -moz-linear-gradient(top,  #d6d6d6,  #bbb) !important;
}
.datePicker .header .headerTable { /* overrides global table styles */
	border:none;
	background:none;
}
.datePicker .header .headerTable td { 
	border-bottom:none;
	background-color:transparent;
	padding: 2px;
}
.datePicker .header .headerTable td a {
	color: #333;
	font-weight: bold;	
	display: block;
	}

.datePicker .grid { }
.datePicker .grid .gridTable td { border: 1px solid #ccc !important; padding: 2px 0; }
.datePicker .grid .gridTable .daysRow td {
	border:none !important;
	background-color:#e4e4e4 !important;
	text-transform:uppercase;
}	
.datePicker .grid .gridTable td.upperLine { display:none; }
.datePicker .grid .gridTable td.today { background-color:#bbb; }
.datePicker .grid .gridTable td.selected, 
.datePicker .grid .gridTable td:hover {
    background-color: #eee;
    color: #333 !important;
    cursor: pointer;
}

.datePicker .footer { padding-top: 0 !important; }
.datePicker .footer .footerTable { border:none; }	
.datePicker .footer .footerTable td { border-bottom:none; }
.datePicker .footer .footerTable td.filler { }

.datePicker .footer .footerTable button { color:#EA5700; }

.datePicker .button { }
.datePicker .previousButton { }
.datePicker .nextButton { }
.datePicker .previousButton,
.datePicker .nextButton {
	border: 1px solid #b4cb8b !important;
	background-color:#eee !important;
}

.datePicker .todayButton, 
.datePicker .noneButton {
	background:transparent;
	border:none;
	padding:0;
	margin:0;
	font-size:1em;
	
}
.datePicker .todayButton { text-align: left; }
.datePicker .noneButton { text-align: right; }

.datePicker .labelPopup {
    position: absolute;
    background: #e4e4e4;
    border: 1px solid #999;
    padding: 1px;
}
.datePicker .header .headerTable td .labelPopup a {
	color: #555;
    display: block;
    text-align: center;
    padding: 1px 10px;
}
.datePicker .header .headerTable td .labelPopup a:hover {
    background-color: #2e6a8b;
    color: #fff;
    text-decoration: none;
}

/* ------ Variation of datePicker ------- */

.t-data-grid tr:hover td .datePicker td {
	background-image: none;
}
	
.t-data-grid tr:hover td .gridTable td, 
.t-data-grid tr:hover td .footerTable td {
	background-color: #fff;
}
.t-data-grid tr:hover td .gridTable .daysRow td {
	background-color:#e4e4e4;
}

.t-data-grid .datePicker tr:hover td {
	background: none;
	background-color: #fff;
}
.t-data-grid .datePicker table td {
	background: none;
	background-color: #fff;
	width: auto;
}

.t-data-grid tr:hover td .datePicker table.gridTable {	
	background: none;
	background-color: #fff;
}


/* ---------help popup styling----------------  */
.tooltip {
    border: 1px solid #ccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	padding: 8px 11px 10px;
	margin-right: 70px;
	max-width: 600px;
	color: #979797;
	background: #fcfcfc;
	text-align: left;
	display: none;
	z-index: 1000;
}

/* --------send test notices----------------  */
select#triggerEvent {
    width: auto;
}

.insetbox {
    clear: both;
    background: #fcfcfc;
    border: 1px solid #ddd;
    padding: 19px 22px 22px;
    position:relative;
}
.page-viewnoticedefinition .innersubmitwrapper {
	padding-left: 160px;
}

/* -------------------------------- */
/* ---     System Settings      --- */
/* -------------------------------- */
#system-settings-details-wrapper {
	margin-bottom: 1em;
	clear: both;
}

#system-settings-wrapper {
	line-height: 1.5em;
}

#settings-inner-wrap {
	float: left;
	height: auto;
}

#system-settings-wrapper dt,
#system-settings-wrapper dd { float:left; }

#system-settings-wrapper dt {
	font-weight: bold;
	display: block;
	width: 100%;
	margin-bottom: 0;
	margin-top: 1em;
	clear:left;
}

#system-settings-wrapper dt::after {
	content: ":";
}

#system-settings-wrapper dt:first-child {
	margin-top: 0;
}

#system-settings-wrapper dd {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

#system-settings-wrapper .property-wrap {
	background: #EBEBEB;
	border: 1px solid #DDD;
}

.scrolling {
	max-height: 10em;
	overflow-y: auto;
}

.ajaxautolist-options strong {
	display:block;
	margin:.5em;
}
.ajaxautolist-options {
	margin-bottom:.25em;
}

.platforms h2,
.accounts .content-wrap #stepContents .platform .platform-title {
	color: #EA5700;
	margin: 0 0 1em 0;
	font-size:1.5em;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: none;
}

h2 + .report-group {
	padding: 0;
}

.report-group {
	margin: 1.5em 0;
}

.no-reports,
.report-group .sub-groups {
	margin: 0 0 1em 0;
	border: 1px solid #ddd;
	padding: 2em 1.2em 1.2em;
	-webkit-border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	border-radius: 0.75em;
}

.report-group h3 {
	padding: 0 .5em;
	margin: -.6em 0 0 2em;
	border: none;
	background: #fff;
	float: left;
}

.report-sub-group {
	padding: 0;
}

table.reports {
	margin: 0;
}

.reports caption {
	text-align: left;
	font-weight: bold;
	margin-top: 1.5em;
}
	.report-sub-group:first-child .reports caption {
		margin-top: 0;
	}

.reports td {
	vertical-align: text-top;
}

.reports .name {
	width: 10em;
}

.reports .year0,
.reports .year1,
.reports .custom {
	width: 9em;
}

.report-formats {
	padding: 0;
	margin: 0;
}
.report-formats li {
	display: inline-block;
	text-align: left;
	
}
	.report-formats li:before {
		content: "|";
		margin: 0 .25em;
		color: #ddd;
	}
	.report-formats li:first-child:before {
		content: none;
		margin: 0 .25em;
	}

.platform {
	margin-top: 2.2em;
	padding-top: 2em;
	border-top: .2em solid #999;
}
	.platform:first-child {
		margin-top: 0;
		padding-top: 0;
		border-top: none;
	}

.report-heading {
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ddd;
}

.accounts.reports-section .content-wrap #stepContents h2 {
	padding: 0;
	margin: 0 0 1.5em 0;
	font-size: 1.2em;
	font-weight: normal;
	display: block;
	position: relative;
}

.accounts .content-wrap #stepContents .report-heading h3 {
	padding: 0;
	margin: 0 0 0.5em 0;
	font-size:1.2em;
	font-weight: bold;
	position: relative;
	border-bottom: none;
	display: inline-block;
}

.report-heading ul {
	padding: 0;
	margin: 0;
	display: inline-block;
	list-style: none;
	font-size:1.1em;
}

.report-heading li {
	display: inline-block;
}
	.report-heading li:before {
		content: "|";
		margin: 0 1em;
	}

.report-heading .report-description {
	padding: 0;
	margin: 0;
	font-style: italic;
}

.report-config { margin: 0; }

.report-config form {
	vertical-align: middle;
}

.platforms #canvas fieldset,
.report-config fieldset {
	border: 1px solid #ddd;
	margin: 0 1em 1.5em 0;
	padding: 1em;
	display: inline-block;
	-webkit-border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	border-radius: 0.75em;
}

.platforms #canvas fieldset {
	display: block;
}

.platforms .platformReportYear {
	margin-left: 1em;
}

.report-config .t-error {
	margin: 0 auto 1em;
	width: 75%;
}

.report-config .submit {
	display: inline-block;
	margin: 0 0 1.5em 0;
}

.report-config .submit input { margin: 0; }

.platforms legend,
.report-config legend {
	padding: 0 .5em;
}

.report-config label {
	display: inline-block;
	margin: 0 .3em 0 0;
}
	.report-config label:after {
		content: ":";
	}

.report-config select {
	width: auto;
	margin: 0 1em 0 0;
}

.report-data {
	margin: 0;
}

.no-reports,
.report-data .empty {
	text-align: center;
	padding: 1em;
}

.no-reports p,
.report-data .empty p {
	margin: 0;
	font-style: italic;
	font-size: 1.2em;
	color: #999;
}

.action-links {
	list-style:none;
	margin:0;
	padding:0;
}

.action-links li {
	margin:0 .5em 0 0;
	padding:0;
	display:inline;
}

.t-data-grid .id.t-first {
	width:3em;
}

.t-data-grid .actions.t-last {
	width:5em;
}

.platform-report-config table {
	margin-top:1em;
	border:none;
	table-layout: fixed;
}
.platform-report-config table tr {
	vertical-align: top;
}
.platform-report-config table tr th:first-child {
	text-align:left;
}
.platform-report-config table th {
	width:200px;
	text-align:center;
	color:black;
	background:#fff;
	border-bottom:1px solid #ccc;
	text-transform: none;
}

.platform-report-config .blank-column {
	width: 100%;
}

.platform-report-config .custom-reporting-date {
	width: 370px;
}

.platform-report-config .custom-date-range-header {
	width: 370px;
}

.platform-report-config .custom-reporting-date .hidden {
	display: none;
}

operations {
   float: right;
   margin-bottom: .5em;
   padding: 0;
   display: block;
}

.filler-page-result{
   width: 100%;
   display: inline-block;
}

.active-page {
	font-weight: bold;
}


/* ---------------------------- */
/* ---- Concurrency report ---- */
/* ---------------------------- */

.content-wrap .platform-report dd {
    width: 75%;
}

.platform-report, .platform-interval-report {
    display: none;
    clear: both;
    padding: 1.0em;
    border: solid 1px #ddd;
    border-top: none;
}

.platform-report.active, .platform-interval-report.active {
    display: block;
}

.platform-interval-report, .platform-interval-report dl {
    padding-bottom: 0;
    margin-bottom: 0;
}

.content-wrap dd.user-session-count,
.content-wrap dd.subscription-count,
.content-wrap dd.turnaway-count {
    font-size: 3.0em;
    margin: 0;
    padding: 0;
}

.user-session-count {
    color: blue;
}

.subscription-count {
    color: green;
}

.turnaway-count {
    color: red;
}

tr.active-sessions {
    display: none;
}

a.active-subscription {
    margin-right: 1.0em;
    background: url(../img/down-arrow.png) left center no-repeat;
    padding-left: 13px;
}

a.active-subscription.closed {
    background-image: url(../img/right-arrow.png);
}

a.active-subscription.open {
}


.product-access-type-list {
    list-style:none;
    padding-top:0;
    margin-top:0;
    border-left:1px solid #ccc;
}

.product-access-type-list li {
    margin-top:.5em;
}



/* -------------------------------------------- */
/* ----------- Not In Use for AMX  ------------ */
/* ---------- (we should delete???) ----------- */
/* -------------------------------------------- */

/* stretchy button with green background on hover */
a.bu-stretch { display: block; background:url(../img/bu-lt.png) no-repeat 0 0 !important; line-height: 18px; color:#848484; font-weight:bold; text-align:center; padding: 0 0 0 5px; }
a.bu-stretch span { display: block; background:url(../img/bu-rt.png) no-repeat right 0 !important; padding-right: 5px; }
a.bu-stretch:hover { color: #fff; background:url(../img/bu-lt.png) no-repeat 0 -18px !important; text-decoration: none; }
a.bu-stretch:hover span { background:url(../img/bu-rt.png) no-repeat right -18px !important; }

.bu-small-green { float:left; border:none; display:block; width:30px; height:20px; background:url(../img/bu-green-sm.png) no-repeat; text-align:center; color:#fff; margin:0 10px 0 5px; text-decoration:none !important; }
.bu-small-green:hover { color:#333; }
.bu-small-green span { display:block; padding:3px 0 0 0; }

input.bu-small-green { /* adjusts value text to correct location */ padding:0; background:url(../img/bu-green-sm.png) 0 4px no-repeat; height:24px; margin-top:-4px; float:none; display:inline; }
*+html input.bu-small-green { /*IE7 */ padding:0; background:url(../img/bu-green-sm.png) 0 0 no-repeat; height:20px; margin-top:0; }

