

.box-sm-blue  {
	margin-top:8px;
	width: 440px;
	background: #e4e4e4 url(../img/box-half-top.png) no-repeat top left;
	float: left;
	clear: both;
}

.box-sm-green {
	margin-top:8px;
	width: 440px;
	background: #efefef url(../img/box-half-top.png) no-repeat top left;
	float: right;
}

.box-sm-green .innerwrap, .box-sm-blue .innerwrap {
	background: url(../img/box-half-bot.png) no-repeat bottom left;
	padding: 16px 18px 10px 18px;
	min-height: 122px;
}

.box-sm h2 {
	font-size:1.6em;
	font-weight:400;
	margin-top:0;
	color:#888;
}

.t-beaneditor-row label { 
	display: block;
	float: left;
	width: 150px !important;
	font-weight: 700; 
	color:#d29252;
	margin-top: 7px;  
}

*+html .t-beaneditor-row label { 
	margin-top:5px;	
}

.t-beaneditor-row a {
	font-size: 1.1em;
	text-decoration: underline;
	margin-left: 1em;
	color: #777;
}

.t-beaneditor-row a:hover {
	color: #333;
}

.innersubmitwrapper {
	border-top:1px solid #B3C7D1;
	padding: 6px 0 0 0;
	text-align: center;
	clear: both;
	margin: 6px 0 0 0;
}

input.bu-sm-login {
	background: url(../img/bu-green-50.png) no-repeat 0 3px;
	border: none;
	color:#FFFFFF;
	display:block;
	height:23px;
	line-height: 1;
	vertical-align: middle;
	margin: 0 auto;
	padding: 0;
	text-align:center;
	text-decoration:none !important;
	width:50px;
}

input.bu-sm-login:hover {
	color:#333333;
}